<h1>Tutkintohaku</h1>

<form>
 <fieldset class="search-field">
   <label>Tutkinnon nimi</label>
    <input type="text"></input>
 </fieldset>

  

  <fieldset class="search-field">
    <label>Opintoala, osaamisala tai tutkinnon osa</label>
    <select >
        <option value="">                                       </option>
    </select>
  </fieldset>
 
  
  <div class="checkbox-group">
    <h3>Opintotaso</h3>
    <div class="checkbox-pair">
      <input type="checkbox" ></input>
      <label>Perustutkinto</label>
    </div>
    <div class="checkbox-pair">
      <input type="checkbox" ></input>
      <label>Ammattitutkinto</label>
    </div>
    <div class="checkbox-pair">
      <input type="checkbox" ></input>
      <label>Erikoisammattitutkinto</label>
    </div>   
  </div>
</form>


<h2>Tulokset</h2>
<table class="full-width">
  <thead>
    <tr>
        <th>Nimi</th>
        <th>Diaarinumero</th>
        <th>Taso</th>
        <th>Jäjestäjät</th>
        <th>Toimikunnat</th>
      </tr>  
  </thead>
  <tbody>
  </tbody>
</table>