<h1>Järjestäjähaku</h1>

<form>
 
  <fieldset class="search-field">
   <label>Järjestäjän nimi</label>
    <input type="text"></input>
 </fieldset>

  <fieldset class="search-field">
    <label>Opintoala, osaamisala tai tutkinnon osa</label>
    <select >
        <option value="">                                       </option>
    </select>
  </fieldset>

<fieldset class="search-field">
    <label>Toimialue</label>
    <select >
        <option value="">                                       </option>
    </select>
  </fieldset>

  <div class="checkbox-pair">
    <input type="checkbox" ></input>
    <label>Näytä päättyneet sopimukset</label>
  </div>
</form>


<h2>Tulokset</h2>
<table class="full-width">
  <thead>
    <tr>
        <th>Nimi</th>
        <th>Oppilaitoskoodi / Y-tunnus</th>
        <th>Kielisyys</th>
        <th>Alue</th>
      </tr>  
  </thead>
  <tbody>
  </tbody>
</table>