<h1>{{toimikunta.nimi}}</h1> <button> Päivitä toimikunnan tietoja </button>

<h2>{{toimikunta.ruotsinkielinenNimi}}</h2>
<form>
  <h2>Toimikunnan perustiedot</h2>
  <fieldset>  
    <label>Diaarinumero</label>
    <input type="text" ng-hide="!editMode" ng-model="toimikunta.diaarinumero"></input>
    <p ng-hide="editMode">{{toimikunta.diaarinumero}}</p>
  </fieldset>
   <fieldset>    
    <label>Tutkintotoimikunnan numero</label>
    <input type="text" ng-hide="!editMode" ng-model="toimikunta.tilikoodi"></input>
    <p ng-hide="editMode">{{toimikunta.tilikoodi}}</p>
  </fieldset>
  <fieldset>
    <label>Kielisyys</label>
    <select  ng-hide="!editMode" ng-model="toimikunta.kielisyys">
      <option>Suomi</option>
      <option>Ruotsi</option>
    </select>
    <p ng-hide="editMode">{{toimikunta.kielisyys}}</p>
  </fieldset>
  <fieldset>  
    <label>Sähköpostiosoitteet</label>
    <input type="text" ng-hide="!editMode" ng-model="toimikunta.sahkopostiosoitteet"></input>
    <p ng-hide="editMode">{{toimikunta.sahkopostiosoitteet}}</p>
  </fieldset>
  <fieldset>  
    <label>Päätöspäivä</label>
    <input type="text" ng-hide="!editMode" ng-model="toimikunta.paatospaiva"></input>
    <p ng-hide="editMode">{{toimikunta.paatospaiva}}</p>
  </fieldset>
  <fieldset>
    <label>Toimikausi</label>
    <input type="text" ng-hide="!editMode" ng-model="toimikunta.toimikausi"></input>
    <p ng-hide="editMode">{{toimikunta.toimikausi}}</p>
  </fieldset>   
</form>

<h2>Opintoalat ja niiden koodit</h2>
<table class="few-columns">
  <thead>
    <tr>
        <th class="narrow">Opintoala</th>
        <th class="narrow">Koodi</th>
     </tr>
  </thead>
  <tbody>
    <tr ng-repeat="opintoala in opintoalat">
      <th class="narrow">{{opintoala.nimi}}</th>
      <th class="narrow">{{opintoala.koodi}}</th>
    </tr>
  </tbody>
</table>
<button class="table-add" ng-click="opintoaladialogiVisible = true"> Lisää opintoala </button>
<h2>Näyttötutkinnot, niiden koodit ja tutkintojen tasot</h2>
<table class="few-columns">
  <thead>
    <tr>
        <th>Näyttötutkinto</th>
        <th>Koodi</th>
        <th>Tutkintotaso</th>
     </tr>
  </thead>
  <tbody>
    <tr ng-repeat="nayttotutkinto in nayttotutkinnot">
      <th>{{nayttotutkinto.nimi}}</th>
      <th>{{nayttotutkinto.koodi}}</th>
      <th>{{nayttotutkinto.taso}}</th>
    </tr>
  </tbody>
</table>
<button  ng-click="nayttotutkintodialogiVisible = true" class="table-add"> Lisää näyttötutkinto </button>
<h2>Osaamisalat ja niiden koodit</h2>
<table class="few-columns">
  <thead>
    <tr>
        <th>Osaamisala</th>
        <th>Koodi</th>
     </tr>
  </thead>
  <tbody>
    <tr ng-repeat="osaamisala in osaamisalat">
      <th>{{osaamisala.nimi}}</th>
      <th>{{osaamisala.koodi}}</th>
    </tr>
  </tbody>
  </tbody>
</table>
<button  ng-click="osaamisaladialogiVisible = true" class="table-add"> Lisää osaamisala</button>
<h2>Tutkintonimikkeet ja niiden koodit</h2>
<table class="few-columns">
  <thead>
    <tr>
        <th>Tutkintonimike</th>
        <th>Koodi</th>
     </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tutkintonimike in tutkintonimikkeet">
      <th>{{tutkintonimike.nimi}}</th>
      <th>{{tutkintonimike.koodi}}</th>
    </tr>
  </tbody>
  </tbody>
</table>
<button  ng-click="tutkintonimikedialogiVisible = true" class="table-add"> Lisää tutkintonimike </button>
<h2>Tutkintotasot</h2>
<table>
  <thead>
    <tr>
        <th>Tutkintotaso</th>
        <th>Yhteyshenkilö</th>
        <th>NTM</th>
        <th>Sähköpostiosoite</th>
        <th>Puhelinumero</th>
        <th>Liitetty toimikuntaan</th>
        <th>Poistettu toimikunnasta</th>
        <th>Liitetty tutkintorakenteeseen</th>
        <th>Poistettu tutkintorakenteesta</th>
        <th>Siirtymäaika (loppupvm)</th>
      </tr>  
  </thead>
  <tbody>
    <tr ng-repeat="tutkintotaso in tutkintotasot">
      <th>{{tutkintotaso.tutkintotaso}}</th>
      <th><a href="#/henkilo/{{tutkintotaso.henkilonumero}}">{{tutkintotaso.yhteyshenkilo}}</a></th>
      <th>{{tutkintotaso.nmt}}</th>
      <th>{{tutkintotaso.sahkoposti}}</th>
      <th>{{tutkintotaso.puhelin}}</th>
      <th>{{tutkintotaso.liitettytmk}}</th>
      <th>{{tutkintotaso.poistettutmk}}</th>
      <th>{{tutkintotaso.liitettytrk}}</th>
      <th>{{tutkintotaso.poistettutrk}}</th>
      <th>{{tutkintotaso.siirtymaaika}}</th>
    </tr>
</tbody>
</table>
<button  ng-click="tutkintotasodialogiVisible = true" class="table-add"> Lisää tutkintotaso </button>

<h2>Jäsenet</h2>
<table>
  <thead>
    <tr>
        <th>Nimi</th>
        <th>Rooli</th>
        <th>Edustettava taho</th>
        <th>Järjestö</th>
        <th>Sähköpostiosoite</th>
        <th>Puhelinumero</th>
      </tr>  
  </thead>
  <tbody>
  </tbody>
</table>
<button   ng-click="jasenetdialogiVisible = true" class="table-add"> Muokkaa jäseniä </button>

<h2>Järjestämissopimukset</h2>
<table>
  <thead>
    <tr>
        <th>Sopimusnumero</th>
        <th>Tutkinnon järjestäjä</th>
        <th>Tutkintotilaisuuksien järjestäjä</th>
        <th>Voimassaolo</th>
        <th>Sähköpostiosoite</th>
        <th>Puhelinumero</th>
      </tr>  
  </thead>
  <tbody>
  </tbody>
</table>
<button  ng-click="sopimuksetdialogiVisible = true" class="table-add"> Lisää järjestämissopimus </button>




<h2>Toimikunnan historia</h2>
<fieldset>
  <label>Tutkintotoimikunnan laatija</label>
  <p>{{toimikunta.laatija}}</p>
 </fieldset>
<fieldset>
  <label>Luontipäivä</label>
  <p>{{toimikunta.luontipaiva}}</p>
 </fieldset>
<fieldset>
  <label>Viimeisin muutoksen tekijä</label>
  <p>{{toimikunta.viimeisinMuuttaja}}</p>
 </fieldset>
<fieldset>
  <label>Viimeisin muutoksen tekijä</label>
  <p>{{toimikunta.viimeisinMuutospaiva}}</p>
 </fieldset>



<div class="dialog" ng-hide="!opintoaladialogiVisible" ng-click="opintoaladialogiVisible = false">
  <div class="mask black"></div>
  <div id="testidialogi" class="window autosized" ng-click="$event.stopPropagation();">
    <div class="dialog-header">
        <h2>Lisää  opintoala</h2>
        <p class="dialog-close close" ng-click="opintoaladialogiVisible = false">X</p>
     </div>
     <div class="dialog-content">
       <label>Valitse lisättävä opintoala</label>
       <select ui-select2="{ multiple: true}">
          <option ng-repeat="opintoala in opintoalat">
            {{opintoala.nimi}} {{opintoala.koodi}} 
          </option>
       </select>
       <button class="btn-dialog" ng-click="opintoaladialogiVisible = false">Lisää opintoala</button>
    </div>
  </div>
</div>

<div class="dialog" ng-hide="!nayttotutkintodialogiVisible" ng-click="nayttotutkintodialogiVisible = false">
  <div class="mask black"></div>
  <div id="testidialogi" class="window autosized" ng-click="$event.stopPropagation();">
    <div class="dialog-header">
        <h2>Lisää  näyttötutkinto</h2>
        <p class="dialog-close close" ng-click="nayttotutkintodialogiVisible = false">X</p>
     </div>
     <div class="dialog-content">
       <label>Valitse lisättävä näyttötutkinto</label>
       <select ui-select2="{ multiple: true}">
        <option ng-repeat="nayttotutkinto in nayttotutkinnot">
          {{nayttotutkinto.nimi}} {{nayttotutkinto.koodi}} {{nayttotutkinto.taso}}</option>
       </select>

       <button class="btn-dialog" ng-click="nayttotutkintodialogiVisible = false">Lisää opintoala</button>
    </div>
  </div>
</div>

<div class="dialog" ng-hide="!osaamisaladialogiVisible" ng-click="osaamisaladialogiVisible = false">
  <div class="mask black"></div>
  <div id="testidialogi" class="window autosized" ng-click="$event.stopPropagation();">
    <div class="dialog-header">
        <h2>Lisää  osaamisala</h2>
        <p class="dialog-close close" ng-click="osaamisaladialogiVisible = false">X</p>
     </div>
     <div class="dialog-content">
       <label>Valitse lisättävä osaamisala</label>
       <select ui-select2="{ multiple: true}">
        <option ng-repeat="osaamisala in osaamisalat">
          {{osaamisala.nimi}} {{osaamisala.koodi}}</option>
       </select>

       <button class="btn-dialog" ng-click="osaamisaladialogiVisible = false">Lisää opintoala</button>
    </div>
  </div>
</div>
 
<div class="dialog" ng-hide="!tutkintonimikedialogiVisible" ng-click="tutkintonimikedialogiVisible = false">
  <div class="mask black"></div>
  <div id="testidialogi" class="window autosized" ng-click="$event.stopPropagation();">
    <div class="dialog-header">
        <h2>Lisää  tutkintonimike</h2>
        <p class="dialog-close close" ng-click="tutkintonimikedialogiVisible = false">X</p>
     </div>
     <div class="dialog-content">
       <label>Valitse lisättävä tutkintonimike</label>
       <select ui-select2="{ multiple: true}">
        <option ng-repeat="tutkintonimike in tutkintonimikkeet">
          {{tutkintonimike.nimi}} {{tutkintonimike.koodi}}</option>
       </select>

       <button class="btn-dialog" ng-click="tutkintonimikedialogiVisible = false">Lisää opintoala</button>
    </div>
  </div>
</div>




