# Pakolliset parametrit:
# - tietokanta: Tietokannan nimi
#
# Valinnaiset parametrit:
# - skeema: Skeeman nimi
# - skeeman_peruskayttaja: Skeeman peruskäyttäjän nimi
# - skeeman_peruskayttajan_salasana: Arvotaan, jos ei määritetty
# - tietokannan_peruskayttaja: Tietokannan peruskäyttäjän nimi
# - tietokannan_paakayttaja: Tietokannan pääkäyttäjän nimi
# - tietokannan_peruskayttajan_salasana: Arvotaan, jos ei määritetty
# - tietokannan_paakayttajan_salasana: Arvotaan, jos ei määritetty
---
- name: Asenna Ansiblen tarvitsema tietokantakirjasto
  yum: name=python-psycopg2 state=present
  sudo: yes
  sudo_user: root

- name: Lisää tietokanta
  postgresql_db: name={{ tietokanta }}

# Skeemaa hallitaan ko. tietokannan migraatioskripteillä, joten sitä ei luoda
# tässä. Skeemaa käyttävää projektia ei voida julkaista ympäristöön, ennen kuin
# tietokannan omistama projekti on julkaistu siihen.

- include: tietokannan_paakayttaja.yml
  when: tietokannan_paakayttaja is defined

- include: tietokannan_peruskayttaja.yml
  when: tietokannan_peruskayttaja is defined

- include: skeeman_peruskayttaja.yml
  when: skeeman_peruskayttaja is defined
