# Pakolliset parametrit:
# - palvelu: Palvelun nimi (esim. "aitu-snapshot")
# - build: Buildin numero tai muu tunniste (esim. "dev")
# - asennushakemisto: Palvelun asennushakemisto
#
# Valinnaiset parametrit:
# - sovelluksen_asetustiedosto: Polku sovelluksen asetustiedostoon Ansiblea
#                               ajavalla koneella (suhteessa inventoryyn)
# - migraatio_asetustiedosto: Polku migraation asetustiedostoon Ansiblea
#                             ajavalla koneella (suhteessa inventoryyn)
# - migraation_argumentit: Migraatiolle annettavat komentoriviargumentit
---
- name: Muodosta sovelluspaketin nimi etäpalvelimella
  set_fact:
    sovellus_jar_palvelimella: "{{ palvelu }}-{{ build }}.jar"

- name: Luo tomcat-käyttäjä
  user: name=tomcat system=yes shell=/bin/false

- name: Luo asennushakemisto palvelimelle
  file: path={{ asennushakemisto }} state=directory owner=tomcat group=tomcat mode=0755

- name: Kopioi versio palvelimelle
  copy: src={{ sovellus_jar }} dest={{ asennushakemisto }}/{{ sovellus_jar_palvelimella }} owner=tomcat group=tomcat mode=0644

- name: Pura build-id.txt sovelluspaketista
  shell: jar xf {{ sovellus_jar_palvelimella }} build-id.txt chdir="{{ asennushakemisto }}"

- name: Päivitä asennukset.txt
  shell: >
    echo
    "$(date '+%Y-%m-%d %H:%M:%S') |
    {{ ansible_ssh_user }} |
    $(cat build-id.txt)" >> asennukset.txt
    chdir={{ asennushakemisto }}

- name: Kopioi lokituksen asetustiedosto palvelimelle
  copy: src="{{ inventory_dir }}/{{ lokituksen_asetustiedosto }}" dest={{ asennushakemisto }}/resources/ owner=tomcat group=tomcat mode=0644
  when: asenna_asetustiedostot|bool and lokituksen_asetustiedosto is defined

- name: Kopioi sovelluksen asetustiedosto palvelimelle
  template: src="{{ inventory_dir }}/{{ sovelluksen_asetustiedosto }}" dest={{ asennushakemisto }}/ owner=tomcat group=tomcat mode=0644
  when: asenna_asetustiedostot|bool and sovelluksen_asetustiedosto is defined

- name: Aseta tietokantakäyttäjä sovelluksen asetustiedostoon
  replace:
    dest: "{{ asennushakemisto }}/{{ sovelluksen_asetustiedosto }}"
    regexp: ^db\.user.*
    replace: db.user = {{ tietokannan_peruskayttaja|default(None) or skeeman_peruskayttaja }}
  when: ((tietokannan_peruskayttaja is defined) or (skeeman_peruskayttaja is defined)) and (sovelluksen_asetustiedosto is defined)

- name: Aseta tietokantakäyttäjän salasana sovelluksen asetustiedostoon
  replace:
    dest: "{{ asennushakemisto }}/{{ sovelluksen_asetustiedosto }}"
    regexp: ^db\.password.*
    replace: db.password = {{ tietokannan_peruskayttajan_salasana|default(None) or skeeman_peruskayttajan_salasana }}
  when: ((tietokannan_peruskayttajan_salasana is defined) or (skeeman_peruskayttajan_salasana is defined)) and (sovelluksen_asetustiedosto is defined)

- name: Kopioi migraation asetustiedosto palvelimelle
  template: src="{{ inventory_dir }}/{{ migraation_asetustiedosto }}" dest={{ asennushakemisto }}/ owner=tomcat group=tomcat mode=0644 force=no
  when: migraation_asetustiedosto is defined

- name: Aseta tietokantakäyttäjä migraation asetustiedostoon
  replace:
    dest: "{{ asennushakemisto }}/{{ migraation_asetustiedosto }}"
    regexp: ^db\.user.*
    replace: db.user = {{ tietokannan_paakayttaja }}
  when: (tietokannan_paakayttaja is defined) and (migraation_asetustiedosto is defined)

- name: Aseta tietokantakäyttäjän salasana migraation asetustiedostoon
  replace:
    dest: "{{ asennushakemisto }}/{{ migraation_asetustiedosto }}"
    regexp: ^db\.password.*
    replace: db.password = {{ tietokannan_paakayttajan_salasana }}
  when: tietokannan_paakayttajan_salasana is defined

- name: Muodosta migraatiopaketin nimi etäpalvelimella
  set_fact:
    migraatio_jar_palvelimella: "{{ palvelu }}-db-{{ build }}.jar"
  when: (migraatio_jar is defined) and (migraatio_jar != '')

- name: Kopioi migraatioskriptit palvelimelle
  copy: src={{ migraatio_jar }} dest={{ asennushakemisto }}/{{ migraatio_jar_palvelimella }} owner=tomcat group=tomcat mode=0644
  register: kopioi_migraatio
  when: migraatio_jar_palvelimella is defined

- name: Päivitä palvelun ohjausskriptit
  template: src={{ item }}.sh.j2 dest={{ asennushakemisto }}/{{ item }}-{{ palvelu }}.sh owner=tomcat group=tomcat mode=0755
  with_items:
  - start
  - stop
  - status

- include: migraatioskripti.yml
  dest: "{{ asennushakemisto }}/migrate-install-{{ palvelu }}.sh"
  migraation_argumentit_templatelle: "{{ migraation_argumentit_asennuksen_jalkeen|default(migraation_argumentit) }}"
  when: migraatio_jar_palvelimella is defined

- include: migraatioskripti.yml
  dest: "{{ asennushakemisto }}/migrate-dump-{{ palvelu }}.sh"
  migraation_argumentit_templatelle: "{{ migraation_argumentit_dumpin_jalkeen|default(migraation_argumentit) }}"
  when: migraatio_jar_palvelimella is defined

- name: Päivitä palvelun init.d-skripti
  template: src=init.d.sh.j2 dest=/etc/init.d/{{ palvelu }} owner=root group=root mode=0755

- name: Pysäytä palvelu
  service: name={{ palvelu }} state=stopped

- name: Luo lokihakemisto palvelimelle
  file: path={{ asennushakemisto }}/logs state=directory owner=tomcat group=tomcat mode=0755

- name: Ota migraatioskripti käyttöön
  file: path={{ asennushakemisto }}/{{ palvelu }}-db.jar state=link src={{ migraatio_jar_palvelimella }} owner=tomcat group=tomcat
  when: migraatio_jar_palvelimella is defined

- name: Suorita datan migraatio
  command: "{{ asennushakemisto }}/migrate-install-{{ palvelu }}.sh"
  ignore_errors: yes
  register: migraatio
  when: not kopioi_migraatio|skipped

- name: Ota palvelun versio käyttöön
  file: path={{ asennushakemisto }}/{{ palvelu }}.jar state=link src={{ sovellus_jar_palvelimella }} owner=tomcat group=tomcat
  when: migraatio|success

- name: Käynnistä palvelu
  service: name={{ palvelu }} state=started

- name: Merkitse palvelu käynnistettäväksi palvelimen käynnistyksen yhteydessä
  service: name={{ palvelu }} enabled=yes

- name: Tarkasta, että kaikki asennusvaiheet onnistuivat
  assert: that="migraatio|success"
