.content-box {
  border: 1px solid rgba(0,0,0,0.2);
  background: lighten($grey-text, 90%);
  width: 70%;
  margin: $marginL;
  padding: $marginM;
  h2 {
    margin-top: 0;
  }
}

.message-container {
  .message {
  text-decoration: none;
  margin: $marginS;
   &:after {
    content: " ";
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.05);
   }
    h3 { 
      margin: 0 $marginS $marginS $marginS;
      color: $grey-text;
    }
    p { 
      margin: 0 $marginS $marginS $marginS;
    }
  }
}

.actions-container {
  margin: $marginL; 
}