.autocomplete {
  position: absolute;
  top: 30px;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  margin-left: 22%;
  z-index: 10;
  
  box-shadow: 2px 2px 0px $grey-text;
  .ac-item {
    padding: $marginS;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: block;
    &:hover {
       background: lighten($primary-action, 10%);
    }
    &:last-child {
      border-bottom: none;
    }
    }
}
