<div class="modal-window dialogi ng-hide" ng-show="avoinna">
  <button class="icon delete-icon sulje" ng-click="avoinna = false"></button>
  <div ng-transclude></div>
</div>
<div class="modal-backdrop" ng-show="avoinna"></div>
