{{=[[ ]]=}}

[[#i18n.jasenesitykset]]

<select ng-model="arvo" ng-options="vaihtoehto.arvo as i18n.jasenesitykset[vaihtoehto.avain] for vaihtoehto in vaihtoehdot" ng-hide="!muokattavissa">
</select>
<p ng-hide="muokattavissa" ng-bind="haeTeksti(arvo)"></p>

[[/i18n.jasenesitykset]]
