{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
<div>
  <div>
    [[nayta]]:

    <label>
      <input type="radio" ng-model="tila" value="">
      [[kaikki]]
    </label>
    <label>
      <input type="radio" ng-model="tila" value="luonnos">
      [[luonnokset]]
    </label>
    <label>
      <input type="radio" ng-model="tila" value="ehdotettu">
      [[ehdotetut]]
    </label>
    <label>
      <input type="radio" ng-model="tila" value="hyvaksytty">
      [[hyvaksytyt]]
    </label>
  </div>

  <form name="suorituksetForm">
  <div class="table">
    <div class="table-header">
      <div class="table-cell">[[etunimi]]</div>
      <div class="table-cell">[[sukunimi]]</div>
      <div class="table-cell">[[tutkinto]]</div>
      <div class="table-cell">[[tutkinto_jarjestaja]]</div>
      <div class="table-cell">[[tila]]</div>
      <div class="table-cell">[[ehdota_hyvaksyttavaksi]]</div>
    </div>
    <div class="table-row" ng-repeat="suoritus in suoritukset |filter:{tila: tila}">
      <div class="table-cell">{{ suoritus.suorittaja_etunimi }}</div>
      <div class="table-cell">{{ suoritus.suorittaja_sukunimi }}</div>
      <div class="table-cell">{{ suoritus | lokalisoiKentta:'tutkinto_nimi' }}</div>
      <div class="table-cell">{{ suoritus | lokalisoiKentta:'koulutustoimija_nimi' }}</div>
      <div class="table-cell">{{ suoritus.tila }}</div>
      <div class="table-cell"><input type="checkbox" ng-model="form[suoritus.suorituskerta_id]"></div>
    </div>
  </div>

    <button class="float-right" ng-click="lahetaHyvaksyttavaksi()" ng-disabled="valitutSuoritukset().length == 0" ng-if="tila === 'luonnos'">[[laheta_hyvaksyttavaksi]]</button>
  </form>
</div>
[[/i18n.arviointipaatokset]]
