{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
<div>
  <button class="button-with-icon add-icon-white float-right" ng-click="muokkaaSuorittajaa()">[[lisaa_suorittaja]]</button>

  <div>
    <input type="text" ng-model="haku" ng-model-options="{debounce: 250}" placeholder="Hae suorittajia...">
  </div>

  <div class="table">
    <div class="table-header">
      <div class="table-cell">[[etunimi]]</div>
      <div class="table-cell">[[sukunimi]]</div>
      <div class="table-cell">[[hetu]]</div>
      <div class="table-cell">OID</div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row" ng-repeat="suorittaja in suorittajat | filter:haku">
      <div class="table-cell">{{ suorittaja.etunimi }}</div>
      <div class="table-cell">{{ suorittaja.sukunimi }}</div>
      <div class="table-cell">{{ suorittaja.hetu }}</div>
      <div class="table-cell">{{ suorittaja.oid }}</div>
      <div class="table-cell">
        <button class="icon edit-icon" ng-click="muokkaaSuorittajaa(suorittaja)"></button>
        &nbsp;&nbsp;&nbsp;
        <button class="icon delete-icon" ng-click="poistaSuorittaja(suorittaja)"></button>
      </div>
    </div>
  </div>
</div>
[[/i18n.arviointipaatokset]]
