{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.enum]]
[[#i18n.sivutus]]
[[#i18n.arviointipaatokset]]
<div>
  <button class="button-with-icon search-icon" ng-click="haeSuorituksia = !haeSuorituksia">[[hae_suorituksia]]</button>
  <button class="button-with-icon search-icon" ng-click="haeSuoritukset()">[[hae_suoritukset]]</button>
  <div ng-show="haeSuorituksia" style="border: 1px solid black; padding: 1em">

    <div>
      <fieldset>
        <label>[[hae_tutkinnon_suorittaja_placeholder]]</label>
        <input type="text" placeholder="[[hae_tutkinnon_suorittaja_placeholder]]" ng-model="hakuForm.suorittaja"></input>
      </fieldset>
      <fieldset>
       <label>[[sukupuoli]]</label>
        <select ng-model="hakuForm.sukupuoli">
          <option ng-value="null"></option>
          <option value="N">[[sukupuoli_nainen]]</option>
          <option value="M">[[sukupuoli_mies]]</option>
        </select>
       </fieldset>
    </div>
    <div>
      <fieldset>
       <label>[[toimikunta]]</label>
       <select ng-options="toimikunta.tkunta as toimikunta.diaarinumero + ' ' + (toimikunta | lokalisoiKentta:'nimi') for toimikunta in tutkintotoimikunnat" ng-model="hakuForm.toimikunta" required>
         <option value=""></option>
       </select>
      </fieldset>
      <fieldset>
        <label>[[tutkinto_jarjestaja]]</label>
        <select ng-model="hakuForm.koulutustoimija" ng-options="koulutustoimija.ytunnus as (koulutustoimija | lokalisoiKentta:'nimi') for koulutustoimija in koulutustoimijat">
          <option value=""></option>
        </select>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <label>[[suoritus_tuotu]]</label>
        <div>
          <pvm-valitsin pakollinen="false" valittu-pvm="hakuForm.luotupvm_alku" max-pvm="hakuForm.luotupvm_loppu" tyhjennettava="true"></pvm-valitsin>
          &nbsp;&nbsp;&nbsp;&nbsp;-
          <pvm-valitsin pakollinen="false" valittu-pvm="hakuForm.luotupvm_loppu" min-pvm="hakuForm.luotupvm_alku" tyhjennettava="true"></pvm-valitsin>
        </div>
      </fieldset>
      <fieldset>
        <label>[[suoritus_kirjattu]]</label>
        <div>
          <pvm-valitsin pakollinen="false" valittu-pvm="hakuForm.hyvaksymispvm_alku" max-pvm="hakuForm.hyvaksymispvm_loppu" tyhjennettava="true"></pvm-valitsin>
          &nbsp;&nbsp;&nbsp;&nbsp;-
          <pvm-valitsin pakollinen="false" valittu-pvm="hakuForm.hyvaksymispvm_loppu" min-pvm="hakuForm.hyvaksymispvm_alku" tyhjennettava="true"></pvm-valitsin>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <label>[[tutkinto]]</label>
        <select ng-model="hakuForm.tutkinto" 
        ng-options="tutkinto.tutkintoversio_id as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') + ' (' + tutkinto.peruste + ')' for tutkinto in tutkinnot" ng-model="form.tutkintoversio_id">
          <option value=""></option>
        </select>
      </fieldset>
      <fieldset>
        <label>[[tutkinnon_osa]]</label>
        <select ng-options="tutkinnonosa.tutkinnonosa_id as tutkinnonosa.osatunnus + ' ' + (tutkinnonosa | lokalisoiKentta:'nimi') for tutkinnonosa in tutkinnonosat track by tutkinnonosa.tutkinnonosa_id" ng-model="hakuForm.tutkinnonosa" required>
          <option value=""></option>
        </select>
      </fieldset>
      <fieldset>
        <label>[[osaamisala]]</label>
        <select ng-options="osaamisala.osaamisala_id as osaamisala.osaamisalatunnus + ' ' + (osaamisala | lokalisoiKentta:'nimi') for osaamisala in osaamisalat track by osaamisala.osaamisala_id" ng-model="hakuForm.osaamisala">
          <option value=""></option>
        </select>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <label>[[suoritettava_tutkinto ]]</label>
        <select ng-model="hakuForm.suoritettavatutkinto" 
        ng-options="tutkinto.tutkintoversio_id as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') + ' (' + tutkinto.peruste + ')' for tutkinto in tutkinnot" ng-model="form.tutkintoversio_id">
          <option value=""></option>
        </select>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <label>[[tutkinnon_osan_todistus]]</label>
        <select ng-model="hakuForm.todistus">
          <option ng-value="null"></option>
          <option value="todistus_ei">[[tutkinnon_osan_todistus_ei]]</option>
          <option value="todistus_kylla">[[tutkinnon_osan_todistus_kylla]]</option>
          <option value="todistus_kokotutkinto">[[tutkinnon_osan_todistus_kokotutkinto]]</option>
        </select>
      </fieldset>
      <fieldset>
        <label>[[suorituskieli]]</label>
        [[#i18n.enum.kieli-arvo]]
        <select ng-model="hakuForm.kieli">
          <option ng-value="null"></option>
          <option value="fi">[[fi]]</option>
          <option value="sv">[[sv]]</option>
        </select>
        [[/i18n.enum.kieli-arvo]]
      </fieldset>
    </div>
  </div>

  <div>
    <a ng-href="[[base-url]]/api/suoritus/suoritusraportti?toimikunta={{hakuForm.toimikunta}}&koulutustoimija={{hakuForm.koulutustoimija}}&tutkinto={{hakuForm.tutkinto}}&tutkinnonosa={{hakuForm.tutkinnonosa}}&osaamisala={{hakuForm.osaamisala}}&luotupvm_alku={{hakuForm.luotupvm_alku}}&luotupvm_loppu={{hakuForm.luotupvm_loppu}}&hyvaksymispvm_alku={{hakuForm.hyvaksymispvm_alku}}&hyvaksymispvm_loppu={{hakuForm.hyvaksymispvm_loppu}}&tila={{hakuForm.tila}}&suorittaja={{hakuForm.suorittaja}}">
      Lataa suoritukset PDF:nä
    </a>
  </div>

  <div>
    [[nayta]]:

    <label>
      <input type="radio" ng-model="hakuForm.tila" ng-value="null">
      [[kaikki]]
    </label>
    <label>
      <input type="radio" ng-model="hakuForm.tila" value="luonnos">
      [[luonnokset]]
    </label>
    <label>
      <input type="radio" ng-model="hakuForm.tila" value="hyvaksytty">
      [[hyvaksytyt]]
    </label>
  </div>
  <div>
    <label>[[tuloksia]]</label>
      <fieldset>
        <select ng-model="hakuForm.tuloksiasivulla">
         <!-- <option value="1">1</option>   testing -->
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
     </fieldset>
  </div>

<hr>
  <form name="suorituksetForm">
  <sivutetuthakutulokset tuloksia-sivulla="+hakuForm.tuloksiasivulla"
    haku-tila="hakuForm.tila" tulosform="form"
    otsikot="['[[sukunimi]], [[etunimi]], [[syntymapvm]]', '[[tutkinto]]', '[[tutkinnon_osa]]', '[[osaamisala]]', '[[arvosana]]', '[[arviointikokouksen_pvm]]', '[[kirjauspaiva]]','[[tutkinto_jarjestaja]]', '[[tila]]']"
    hakutulokset="suoritukset"
    tuloksetjarjestetty="suorituksetjarjestetty"
    poistofn="poistaSuoritus"
    muokkausfn="muokkaaSuoritusta"
    >
  <table jarjestettava-taulukko="hakutulokset" jarjestetty-data="tuloksetjarjestetty">
   <thead>
     <tr>
      <th jarjestettava-sarake="suoritus.suorittaja_sukunimi">[[sukunimi]], [[etunimi]], [[syntymapvm]]</th>
      <th jarjestettava-sarake="tutkinto_nimi" jarjestely-fn="orderByLokalisoitu">[[tutkinto]]</th>
      <th jarjestettava-sarake="tutkinnonosa_nimi" jarjestely-fn="orderByLokalisoitu">[[tutkinnon_osa]]</th>
      <th jarjestettava-sarake="osaamisala_nimi" jarjestely-fn="orderByLokalisoitu">[[osaamisala]]</th>
      <th jarjestettava-sarake="arvosana">[[arvosana]]</th>
      <th jarjestettava-sarake="hyvaksymisaika">[[arviointikokouksen_pvm]]</th>
      <th jarjestettava-sarake="hyvaksymisaika">[[kirjauspaiva]]</th>
      <th jarjestettava-sarake="koulutustoimija_nimi" jarjestely-fn="orderByLokalisoitu">[[tutkinto_jarjestaja]]</th>
      <th>[[tila]]</th>
      <th></th>
      <th></th>
     </tr>
    </thead>
    <tr ng-repeat="suoritus in tuloksetjarjestetty | sivutusSuodatin:+nykyinenSivu:tuloksiaSivulla">
        <td><a ng-href="[[base-url]]/#/suorittaja/{{suoritus.suorittaja_suorittaja_id}}">{{ suoritus.suorittaja_sukunimi }}, {{ suoritus.suorittaja_etunimi }}</a>, {{ suoritus.suorittaja_syntymapvm | date:'dd.MM.yyyy' }}</td>
        <td>{{ suoritus | lokalisoiKentta:'tutkinto_nimi' }}
            <span ng-show="suoritus.tutkintoversio_suoritettava !== suoritus.tutkintoversio_id">
            <b>-> {{ suoritus | lokalisoiKentta:'suoritettavatutkinto_nimi' }}</b></span>
        </td>
        <td>{{ suoritus | lokalisoiKentta:'tutkinnonosa_nimi' }}</td>
        <td>{{ suoritus | lokalisoiKentta:'osaamisala_nimi' }}</td>
        <td>{{ suoritus.arvosana | muotoileArvosana}}</td>
        <td>{{ suoritus.arviointikokouksen_pvm | date:'dd.MM.yyyy' }}</td>
        <td>{{ suoritus.hyvaksymisaika | date:'dd.MM.yyyy' }}</td>
        <td>{{ suoritus | lokalisoiKentta:'koulutustoimija_nimi' }}</td>
        <td>{{ i18n.arviointipaatokset['tila-' + suoritus.tila] }}</td>
        <td><input type="checkbox" ng-model="tulosform[suoritus.suorituskerta_id]" ng-if="hakuTila === 'luonnos' || hakuTila === 'ehdotettu' || hakuTila === 'hyvaksytty'"></td>
        <td>
          <button class="icon edit-icon" ng-click="muokkausfn(suoritus)" ></button>
          &nbsp;&nbsp;&nbsp;
          <button class="icon delete-icon" ng-click="poistofn(suoritus)" ng-if="hakuTila === 'luonnos'"></button>
        </td>
    </tr>
  </table>
</sivutetuthakutulokset>
<div>
    <button class="float-right" ng-click="palautaLuonnokseksi()" ng-disabled="valitutSuoritukset().length == 0" ng-if="hakuForm.tila === 'hyvaksytty'">[[palauta_luonnokseksi]]</button>
    <span class="float-right" ng-show="hakuForm.tila === 'luonnos'">
      <label> [[hyvaksymispvm]]</label>
      <pvm-valitsin pakollinen="false" valittu-pvm="form.hyvaksymispvm" tyhjennettava="true"></pvm-valitsin>
      <button class="float-right" ng-click="hyvaksy()" ng-disabled="valitutSuoritukset().length == 0" ng-if="hakuForm.tila === 'luonnos'">[[hyvaksy]]</button>
    </span>
  </form>
</div>
</div>
[[/i18n.arviointipaatokset]]
[[/i18n.sivutus]]
[[/i18n.enum]]
[[/i18n.yleiset]]
