{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
<div>
  <div class="table">
    <div class="table-header">
      <div class="table-cell">[[etunimi]]</div>
      <div class="table-cell">[[sukunimi]]</div>
      <div class="table-cell">[[tutkinto]]</div>
      <div class="table-cell">[[tutkinto_jarjestaja]]</div>
    </div>
    <div class="table-row" ng-repeat="suoritus in suoritukset">
      <div class="table-cell">{{ suoritus.suorittaja_etunimi }}</div>
      <div class="table-cell">{{ suoritus.suorittaja_sukunimi }}</div>
      <div class="table-cell">{{ suoritus | lokalisoiKentta:'tutkinto_nimi' }}</div>
      <div class="table-cell">{{ suoritus | lokalisoiKentta:'koulutustoimija_nimi' }}</div>
    </div>
  </div>
</div>
[[/i18n.arviointipaatokset]]
