{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]

<h1>[[arviointipaatokset]]</h1>

<section class="opiskelijat">
  <h2>[[opiskelijat]]</h2>
  <button class="button-with-icon add-icon-white">[[lisaa_opiskelija]]</button>
</section>

<section class="suoritukset">
  <h2>[[suoritukset]]</h2>
  <button class="button-with-icon add-icon-white">[[lisaa_suoritus]]</button>
</section>

[[/i18n.arviointipaatokset]]
