{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]

<h1>[[arviointipaatokset]]</h1>

<section class="suorittajat">
  <h2>[[suorittajat]]</h2>
  <button class="button-with-icon add-icon-white" ng-click="lisaaSuorittajaDialogi = true">[[lisaa_suorittaja]]</button>
  <dialogi avoinna="lisaaSuorittajaDialogi">
    <div>
      <fieldset>
        <label for="etunimiInput">[[etunimi]]</label>
        <input id="etunimiInput" type="text" ng-model="suorittajaForm.etunimi">
      </fieldset>
      <fieldset>
        <label for="sukunimiInput">[[sukunimi]]</label>
        <input id="sukunimiInput" type="text" ng-model="suorittajaForm.sukunimi">
      </fieldset>
      <fieldset>
        <label for="hetuInput">[[hetu]]</label>
        <input id="hetuInput" type="text" ng-model="suorittajaForm.hetu">
      </fieldset>
      <fieldset>
        <label for="oidInput">OID</label>
        <input id="oidInput" type="text" ng-model="suorittajaForm.oid">
      </fieldset>
    </div>
    <div>
      <button class="button-with-icon add-icon-white" ng-click="lisaaSuorittaja()">[[lisaa_suorittaja]]</button>
    </div>
  </dialogi>
</section>

<section class="suoritukset">
  <h2>[[suoritukset]]</h2>
  <button class="button-with-icon add-icon-white">[[lisaa_suoritus]]</button>
</section>

[[/i18n.arviointipaatokset]]
