{{=[[ ]]=}}
[[#i18n.etusivu]]
<header>
  <div class="app-wrapper">
    <div class="vertical-center">
      <div class="header-content">
        <h1>AITU</h1>
        <span class="separator">|</span>
        <h2>[[etusivun-otsikko]][[#ominaisuus.proto]] (proto)[[/ominaisuus.proto]]</h2>

        <form class="haku" ng-if="[[yllapitaja]]">
          <input type="text" ng-model="hakuehto" ng-change="tyhjennaPalaute()" placeholder="[[anna-diaarinumero-tai-tunnus]]"></input>
          <button ng-click="hae(hakuehto)">[[hae]]</button>
          <p ng-if="hakupalaute">[[ei-tuloksia]]</p>
        </form>
      </div>
    </div>
    <div class="oph-logo"></div>
  </div>
</header>

[[#i18n.yleiset]]
  <h1 class="header-margin">[[tiedote]]</h1>
  <tiedote tiedoteid="1"></tiedote>
  <section class="organisaatiomuutos" ng-show="muutoksiaOlemassa() && [[yllapitaja]]">
    <h1>[[organisaatiomuutokset]]</h1>
    <a href="#/organisaatiomuutokset">{{muutostenMaara.maara}} [[organisaatiomuutoksia]]</a>
  </section>
[[/i18n.yleiset]]
[[/i18n.etusivu]]
