{{=[[ ]]=}}
[[#i18n.yleiset]]
<div class="file-upload">
  <button ng-hide="tiedostoValittu" class="add-file">[[lisaa]]</button>
  <form action="{{apiMetodi}}" ng-upload="uploadOk(content)">
    <input class="valittu-tiedosto" ng-show="tiedostoValittu" type="text" disabled>
    <button ng-show="tiedostoValittu" ng-class="{loading : $isUploading}" upload-submit>[[tallenna]]</button>
    <input type="file" name="file">
    <input type="hidden" class="x-xsrf-token" name="x-xsrf-token" value="">
  </form>
  <button class="cancel-upload" ng-show="tiedostoValittu" ng-click="reset()">[[peruuta]]</button>
</div>
[[/i18n.yleiset]]