{{=[[ ]]=}}
<fieldset class="select2-fieldset">
  <label ng-class="{pakollinen : pakollinen}">{{otsikko}}</label>
  <div ui-select2="options" ng-required="pakollinen" ng-model="model"></div>
</fieldset>
