{{=[[ ]]=}}
<fieldset class="select2-fieldset">
  <label ng-class="{pakollinen : pakollinen}">{{otsikko}}</label>
  <input ui-select2="options" ng-required="pakollinen" ng-model="selection" data-placeholder="Valitse"></input>
</fieldset>