{{=[[ ]]=}}
[[#i18n.hakutulokset]]
<p ng-show="hakutulokset.length > 0">[[hakutulokset]] {{mista(nykyinenSivu, tuloksiaSivulla)}} - {{mihin(nykyinenSivu, tuloksiaSivulla, hakutulokset.length)}} / [[yhteensa]] {{hakutulokset.length}} [[hakutulosta]] </p>
<p ng-show="hakutulokset.length == 0">[[ei-hakutuloksia]]</p>
[[/i18n.hakutulokset]]