{{=[[ ]]=}}
[[#i18n.henkilo]]
[[#i18n.yleiset]]

<h1 ng-hide="muokkausTila">{{jasen.henkilo.etunimi}} {{jasen.henkilo.sukunimi}}
  <auth-toiminto auth-nappi ng-show="!muokkausTila" oikeus="henkilo_paivitys" konteksti="henkilo" entity-id="{{jasen.henkilo.henkiloid}}" class="icon edit-icon" ng-click="muokkaa()"></auth-toiminto>
</h1>
<form name="henkiloForm">
<ng-include src="'template/henkilo-partial'"></ng-include>
</form>

<div ng-show="!muokkausTila">
  <jasenyyksien-listaus class="nykyiset-jasenyydet"
                        otsikko="'[[jasenyydet]]'"
                        jasenet="nykyisetJasenet"
                        nayta-toimikunta="true"
                        piilota-nimi="true"
                        piilota-jarjesto="true"
                        piilota-kielisyys="true">
  </jasenyyksien-listaus>

  <vanhojen-jasenyyksien-listaus class="aiemmat-jasenyydet"
                        otsikko="'[[aiemmat-jasenyydet]]'"
                        jasenet="entisetJasenet"
                        nayta-toimikunta="true"
                        piilota-nimi="true"
                        piilota-jarjesto="true"
                        piilota-kielisyys="true"
                        salli-piilotus="true">
  </vanhojen-jasenyyksien-listaus>
</div>

<tallenna formi-validi="henkiloForm.$valid" disabloi-pyyntojen-ajaksi="['henkilon-tietojen-muokkaus']" ng-hide="!muokkausTila" ng-click="tallenna()" teksti="'[[tallenna]]'"></tallenna>
<button ng-hide="!muokkausTila" ng-click="peruuta()">[[peruuta]]</button>
[[/i18n.yleiset]]
[[/i18n.henkilo]]