{{=[[ ]]=}}

[[#i18n.henkilo]]
[[#i18n.yleiset]]

<section class="info-section">
  <fieldset ng-hide="muokkausTila">
    <label>[[nimi]]</label>
    <p class="e2e-jasen-nimi">{{jasen.henkilo.etunimi}} {{jasen.henkilo.sukunimi}}</p>
  </fieldset>
  <fieldset ng-hide="!muokkausTila">
    <label class="pakollinen">[[etunimi]]</label>
    <input ng-required="true" type="text" ng-model="jasen.henkilo.etunimi">
  </fieldset>
  <fieldset ng-hide="!muokkausTila">
    <label class="pakollinen">[[sukunimi]]</label>
    <input ng-required="true" type="text"  ng-model="jasen.henkilo.sukunimi">
  </fieldset>
</section>
<section class="info-section">
  <fieldset>
    <label class="pakollinen">[[sukupuoli]]</label>
    <enum-valikko pakollinen="true" ng-hide="!muokkausTila" nimi="sukupuoli" arvo="jasen.henkilo.sukupuoli"></enum-valikko>
    <p ng-hide="muokkausTila"><enum-arvo nimi="sukupuoli" arvo="jasen.henkilo.sukupuoli"></enum-arvo></p>
  </fieldset>
  <fieldset>
    <label class="pakollinen">[[kielisyys]]</label>
    <enum-valikko pakollinen="true" ng-hide="!muokkausTila" nimi="kieli" arvo="jasen.henkilo.aidinkieli"></enum-valikko>
    <p ng-hide="muokkausTila"><enum-arvo nimi="kieli" arvo="jasen.henkilo.aidinkieli"></enum-arvo></p>
  </fieldset>
  <fieldset>
    <label>[[syntymavuosi]]</label>
    <input type="number" ng-model="jasen.henkilo.syntymavuosi" min="1900" ng-hide="!muokkausTila">
    <p ng-hide="muokkausTila" ng-bind="jasen.henkilo.syntymavuosi"></p>
  </fieldset>
  <auth-toiminto auth-blokki sallitut-roolit="['YLLAPITAJA']">
    <fieldset ng-hide="muokkausTila">
      <label>[[tunnus]]</label>
      <p>{{jasen.henkilo.kayttaja.uid}}</p>
    </fieldset>
    <haku-valitsin
      ng-show="muokkausTila"
      otsikko="[[tunnus]]"
      url="[[base-url]]/api/kayttaja/toimikuntakayttajat"
      model="jasen.henkilo.kayttaja"
      model-id-property="oid"
      model-text-property="uid">
    </haku-valitsin>
  </auth-toiminto>
</section>

<section class="info-section">
  <fieldset>
    <label>[[sahkoposti]]</label>
    <input type="text" ng-hide="!muokkausTila" ng-model="jasen.henkilo.sahkoposti" ng-required="!jasen.henkilo.henkiloid">
    <label ng-hide="!muokkausTila"><input type="checkbox" ng-model="jasen.henkilo.sahkoposti_julkinen" /> [[julkinen]]</label>
    <p ng-hide="muokkausTila"><a href="mailto:{{jasen.henkilo.sahkoposti}}">{{jasen.henkilo.sahkoposti}}</a></p>
  </fieldset>
  <fieldset>
    <label>[[puhelin]]</label>
    <input type="text" ng-hide="!muokkausTila" ng-model="jasen.henkilo.puhelin">
    <label ng-hide="!muokkausTila"><input type="checkbox" ng-hide="!muokkausTila" ng-model="jasen.henkilo.puhelin_julkinen" /> [[julkinen]]</label>
    <p ng-hide="muokkausTila">{{jasen.henkilo.puhelin}}</p>
  </fieldset>
  <fieldset>
    <p ng-hide="!muokkausTila">
      <label>[[organisaatio]]</label>
      <input type="text" ng-hide="!muokkausTila" ng-model="jasen.henkilo.organisaatio">
      <label>[[osoite]]</label>
      <input type="text" ng-model="jasen.henkilo.osoite" ng-required="!jasen.henkilo.henkiloid">
      <span id="postinumero">
        <label>[[postinumero]]</label>
        <input type="text" ng-model="jasen.henkilo.postinumero" class="postinumero" ng-required="!jasen.henkilo.henkiloid">
      </span>
      <span id="postitoimipaikka">
        <label>[[postitoimipaikka]]</label>
        <input type="text" ng-model="jasen.henkilo.postitoimipaikka" class="postitoimipaikka" ng-required="!jasen.henkilo.henkiloid">
      </span>
    </p>
    <p ng-hide="muokkausTila">
      <label>[[postiosoite]]</label>
      <div>{{jasen.henkilo.organisaatio}}</div>
      <div>{{jasen.henkilo.osoite}}</div>
      <div>{{jasen.henkilo.postinumero}} {{jasen.henkilo.postitoimipaikka}}</div>
    </p>
  </fieldset>
</section>

<section class="info-section">
  <fieldset ng-hide="muokkausTila">
    <label ng-hide="jasen.henkilo.keskusjarjesto">[[jarjesto]]</label>
    <label ng-hide="!jasen.henkilo.keskusjarjesto">[[keskusjarjesto]]</label>
    <p class="e2e-jasen-henkilo-jarjesto-jarjesto_nimi">{{jasen.henkilo.jarjesto.jarjesto_nimi | lokalisoi:jasen.henkilo.jarjesto:'jarjesto_nimi'}}</p>
  </fieldset>
  <haku-valitsin
    ng-show="muokkausTila"
    otsikko="[[jarjesto]] / [[keskusjarjesto]]"
    url="[[base-url]]/api/jarjesto/haku/"
    model="jasen.henkilo.jarjesto"
    model-id-property="jarjesto"
    model-text-property="jarjesto_nimi">
  </haku-valitsin>
  <fieldset>
    <label ng-hide="muokkausTila || jasen.henkilo.keskusjarjesto">[[keskusjarjesto]]</label>
    <p ng-hide="muokkausTila">{{jasen.henkilo.keskusjarjesto_nimi}}</p>
  </fieldset>
  <fieldset>
    <label>[[nayttotutkintomestari]]</label>
    <p ng-hide="muokkausTila">{{jasen.henkilo.nayttomestari | muotoileNayttotutkintomestari}}</p>
    <boolean-select ng-hide="!muokkausTila" model="jasen.henkilo.nayttomestari"></boolean-select>
  </fieldset>
  <fieldset>
    <label>[[kokemus_toimikunnista]]</label>
    <kokemusvuodet arvo="jasen.henkilo.kokemusvuodet" muokattavissa="muokkausTila"></kokemusvuodet>
  </fieldset>
</section>
<section class="info-section">
  <fieldset class="lisatiedot">
    <label>[[lisatiedot]]</label>
    <p ng-hide="muokkausTila" ng-repeat="rivi in (jasen.henkilo.lisatiedot | rivit)">{{rivi}}</p>
    <textarea ng-hide="!muokkausTila" ng-model="jasen.henkilo.lisatiedot"></textarea>
  </fieldset>
</section>

[[/i18n.yleiset]]
[[/i18n.henkilo]]
