{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.jasenesitykset]]

<h1>
  [[jasenesitykset]]: [[yhteenveto]]
  <ohje tunniste="jasenesitykset-yhteenveto"></ohje>
</h1>

<auth-toiminto auth-blokki sallitut-roolit="['YLLAPITAJA']">
  <label>
    <input type="checkbox" ng-model="search.vain_jasenesityksia_sisaltavat">
    [[vain_jasenesityksia_sisaltavat]]
  </label>
</auth-toiminto>

<fieldset>
  <label>[[toimikausi]]</label>
  <select ng-model="search.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm+'-'+toimikausi.loppupvm for toimikausi in toimikaudet"></select>
</fieldset>

<div style="margin-bottom: 2em">
  <fieldset class="search-input">
    <label>[[toimikunnan-nimi]]</label>
    <input type="text" ng-model="filter" placeholder="[[hae_toimikuntia]]">
  </fieldset>
</div>

<div style="text-align: right;">
  [[lyhenteet]]
</div>
<table ng-show="toimikunnat">
  <thead style="font-weight: bold">
    <tr>
      <th></th>
      <th colspan="6" style="text-align: center">[[esitetty]]</th>
      <th colspan="6" style="text-align: center">[[nimitetty]]</th>
      <th colspan="6" style="text-align: center">[[kaikki]]</th>
    </tr>
    <tr>
      <th>[[tutkintotoimikunta]]</th>
      <th>[[lyhenne_mies]]</th>
      <th>[[lyhenne_nainen]]</th>
      <th>[[lyhenne_kaikki]]</th>
      <th>FI</th>
      <th>SV</th>
      <th>SE</th>
      <th>[[lyhenne_mies]]</th>
      <th>[[lyhenne_nainen]]</th>
      <th>[[lyhenne_kaikki]]</th>
      <th>FI</th>
      <th>SV</th>
      <th>SE</th>
      <th>[[lyhenne_mies]]</th>
      <th>[[lyhenne_nainen]]</th>
      <th>[[lyhenne_kaikki]]</th>
      <th>FI</th>
      <th>SV</th>
      <th>SE</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="toimikunta in toimikunnat | filter:filter">
      <td style="text-align: left"><a ng-href="#/toimikunta/{{ toimikunta.diaarinumero }}/tiedot">{{ toimikunta | lokalisoiKentta:'nimi' }}</a></td>
      <td>{{ toimikunta.esitetty_miehia }}</td>
      <td>{{ toimikunta.esitetty_naisia }}</td>
      <td>{{ toimikunta.esitetty_yhteensa }}</td>
      <td>{{ toimikunta.esitetty_fi }}</td>
      <td>{{ toimikunta.esitetty_sv }}</td>
      <td>{{ toimikunta.esitetty_se }}</td>
      <td style="border-left: 1px solid black">{{ toimikunta.nimitetty_miehia }}</td>
      <td>{{ toimikunta.nimitetty_naisia }}</td>
      <td>{{ toimikunta.nimitetty_yhteensa }}</td>
      <td>{{ toimikunta.nimitetty_fi }}</td>
      <td>{{ toimikunta.nimitetty_sv }}</td>
      <td>{{ toimikunta.nimitetty_se }}</td>
      <td style="border-left: 1px solid black">{{ toimikunta.kaikki_miehet }}</td>
      <td>{{ toimikunta.kaikki_naiset }}</td>
      <td>{{ toimikunta.kaikki }}</td>
      <td>{{ toimikunta.kaikki_fi }}</td>
      <td>{{ toimikunta.kaikki_sv }}</td>
      <td>{{ toimikunta.kaikki_se }}</td>
    </tr>
  </tbody>
</table>

[[/i18n.jasenesitykset]]
[[/i18n.yleiset]]
