{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.jasenesitykset]]
<h1>
  [[jasenesitykset]]<span ng-if="jarjesto">: {{ jarjesto | lokalisoiKentta:'nimi' }}</span>
  <ohje tunniste="jasenesitykset"></ohje>
</h1>

<button class="button-with-icon add-icon-white luo-uusi" ng-click="luoJasenesitys()">[[luo_jasenesitys]]</button>

<tiedote tiedoteid="2"></tiedote>

<h2>[[hae_jasenesityksia]]</h2>

<fieldset>
  <label>[[ehdokkaan_nimi]]</label>
  <input type="text" ng-model="haku.ehdokas" ng-model-options="{debounce: 200}">
</fieldset>
<haku-valitsin
  otsikko="[[tyoelamajarjesto]]"
  url="[[base-url]]/api/jarjesto/haku/omat"
  minimum-input-length="0"
  model="hakuvalitsin_jarjesto"
  model-id-property="jarjesto"
  model-text-property="jarjesto_nimi">
</haku-valitsin>
<haku-valitsin
  otsikko="[[tutkintotoimikunta]]"
  url="[[base-url]]/api/ttk/haku-uudet"
  minimum-input-length="0"
  model="hakuvalitsin_toimikunta"
  model-id-property="diaarinumero"
  model-text-property="nimi">
</haku-valitsin>
<fieldset>
  <label>[[kaytettavissa_asiantuntijaksi_lyhyt]]</label>
  <select ng-model="haku.asiantuntijaksi" ng-options="vaihtoehto.arvo as vaihtoehto.teksti for vaihtoehto in [{arvo: null, teksti: ''}, {arvo: true, teksti: '[[kylla]]'}, {arvo: false, teksti: '[[ei]]'}]">
  </select>
</fieldset>

<div>
  [[nayta]]

  <label><input type="radio" ng-model="haku.tila" ng-value="null"> [[kaikki]]</label>
  <label><input type="radio" ng-model="haku.tila" value="esitetty"> [[esitetty]]</label>
  <label><input type="radio" ng-model="haku.tila" value="nimitetty"> [[nimitetty]]</label>
  <label><input type="radio" ng-model="haku.tila" value="peruutettu"> [[peruutettu]]</label>
</div>

<button class="float-right" ng-click="yhteenveto()">[[yhteenveto]]</button>

<table>
  <thead>
  <tr>
    <th colspan="0">[[jasenesityksia]]: {{ esitykset.length }}</th>
  </tr>
  <tr>
    <th></th>
    <th>[[ehdokkaan_nimi]]</th>
    <th>[[keskusjarjesto]]</th>
    <th>[[tyoelamajarjesto]]</th>
    <th>[[toimikunta]]</th>
    <th>[[esityspvm]]</th>
    <th ng-if="!haku.tila || haku.tila === 'nimitetty'">[[nimityspvm]]</th>
    <th ng-if="!haku.tila || haku.tila === 'nimitetty'">[[rooli]]</th>
    <th ng-if="!haku.tila || haku.tila === 'nimitetty'">[[edustus]]</th>
    <th>[[muutettu]]</th>
    <th>[[tila]]</th>
  </tr>
  </thead>
  <tbody class="tuplarivit">
  <tr ng-repeat-start="esitys in esitykset">
    <td><button class="icon" ng-class="{'expand-icon-small': !esitys.auki, 'collapse-icon-small': esitys.auki}" ng-click="esitys.auki = !esitys.auki"></button></td>
    <td><a ng-href="#/henkilot/{{ esitys.henkiloid }}/tiedot">{{ esitys.etunimi }} {{ esitys.sukunimi }}</a></td>
    <td>{{ esitys | lokalisoiKentta:'esittaja_keskusjarjesto_nimi' }}</td>
    <td>{{ esitys | lokalisoiKentta:'esittaja_jarjesto_nimi' }}</td>
    <td><auth-toiminto auth-linkki href="#/toimikunta/{{ esitys.tutkintotoimikunta_diaarinumero }}/tiedot">{{ esitys | lokalisoiKentta:'tutkintotoimikunta_nimi' }}</auth-toiminto></td>
    <td>{{ esitys.luotuaika | date:'dd.MM.yyyy' }}</td>
    <td ng-if="!haku.tila || haku.tila === 'nimitetty'">{{ esitys.nimityspaiva | date:'dd.MM.yyyy' }}</td>
    <td ng-if="!haku.tila || haku.tila === 'nimitetty'"><enum-arvo arvo="esitys.rooli" nimi="rooli"></enum-arvo></td>
    <td ng-if="!haku.tila || haku.tila === 'nimitetty'"><enum-arvo arvo="esitys.edustus" nimi="edustus"></enum-arvo></td>
    <td>{{ esitys.muutettuaika | date:'dd.MM.yyyy' }}</td>
    <td><enum-arvo arvo="esitys.status" nimi="jasenyyden_status"></enum-arvo></td>
  </tr>
  <tr ng-repeat-end ng-show="esitys.auki">
    <td></td>
    <td colspan="11">
      <div>
        <fieldset>
          <label>[[ilmoittajan_nimi]]</label>          
  		  <div ng-if="[[yllapitaja]] && esitys.esittaja_henkilo_henkiloid">
  		    <a ng-href="#/henkilot/{{ esitys.esittaja_henkilo_henkiloid }}/tiedot">{{ esitys.esittaja_henkilo_etunimi }} {{ esitys.esittaja_henkilo_sukunimi }}</a>
  		  </div>
          <div ng-if="![[yllapitaja]] || !esitys.esittaja_henkilo_henkiloid">
              {{ esitys.esittaja_henkilo_etunimi }} {{ esitys.esittaja_henkilo_sukunimi }}
          </div>
        </fieldset>
        <fieldset>
          <label>Kokemus</label>
          <div ng-bind="esitys.vapaateksti_kokemus"></div>
        </fieldset>
        <fieldset>
          <label>Asiantuntijaksi</label>
          <div ng-bind="esitys.asiantuntijaksi | muotoileBoolean"></div>
        </fieldset>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="0">[[jasenesityksia]]: {{ esitykset.length }}</th>
  </tr>
  </tfoot>
</table>

<button class="float-right" ng-click="yhteenveto()">[[yhteenveto]]</button>

<div>
  <label>
    <input type="checkbox" ng-model="henkilotiedot">

    [[kaikki_henkilotiedot]]
  </label>
  <a ng-href="[[base-url]]/api/jasenesitykset/csv?ehdokas={{haku.ehdokas}}&jarjesto={{haku.jarjesto}}&toimikunta={{haku.toimikunta}}&asiantuntijaksi={{haku.asiantuntijaksi}}&henkilotiedot={{henkilotiedot}}" class="liite-linkki" target="_blank">[[lataa_jasenesitykset]]</a>
</div>

[[/i18n.jasenesitykset]]
[[/i18n.yleiset]]
