{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.jasenesitykset]]

<h1>[[jasenesitykset]]: [[yhteenveto]]</h1>

<auth-toiminto auth-blokki sallitut-roolit="['YLLAPITAJA']">
  <fieldset>
    <label>
      <input type="checkbox" ng-model="search.vain_jasenesityksia_sisaltavat">
      [[vain_jasenesityksia_sisaltavat]]
    </label>
  </fieldset>
</auth-toiminto>

<fieldset>
  <label>[[toimikausi]]</label>
  <select ng-model="search.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm+'-'+toimikausi.loppupvm for toimikausi in toimikaudet"></select>
</fieldset>

<div style="margin-bottom: 2em">
  <input type="text" ng-model="filter" placeholder="[[hae_toimikuntia]]">
</div>

<div style="text-align: right;">
  [[lyhenteet]]
</div>
<table ng-show="toimikunnat" style="text-align: center">
  <thead>
    <tr>
      <td></td>
      <td colspan="3">[[esitetty]]</td>
      <td colspan="3">[[nimitetty]]</td>
      <td colspan="3">[[kaikki]]</td>
    </tr>
    <tr>
      <td style="text-align: left">[[tutkintotoimikunta]]</td>
      <td>[[lyhenne_mies]]</td>
      <td>[[lyhenne_nainen]]</td>
      <td>[[lyhenne_kaikki]]</td>
      <td>[[lyhenne_mies]]</td>
      <td>[[lyhenne_nainen]]</td>
      <td>[[lyhenne_kaikki]]</td>
      <td>[[lyhenne_mies]]</td>
      <td>[[lyhenne_nainen]]</td>
      <td>[[lyhenne_kaikki]]</td>
    </tr>
  </thead>
  <tbody ng-repeat="toimikunta in toimikunnat | filter:filter">
    <tr>
      <td style="text-align: left"><a ng-href="#/toimikunta/{{ toimikunta.diaarinumero }}/tiedot">{{ toimikunta | lokalisoiKentta:'nimi' }}</a></td>
      <td>{{ toimikunta.esitetty_miehia }}</td>
      <td>{{ toimikunta.esitetty_naisia }}</td>
      <td>{{ toimikunta.esitetty_yhteensa }}</td>
      <td>{{ toimikunta.nimitetty_miehia }}</td>
      <td>{{ toimikunta.nimitetty_naisia }}</td>
      <td>{{ toimikunta.nimitetty_yhteensa }}</td>
      <td>{{ toimikunta.kaikki_miehet }}</td>
      <td>{{ toimikunta.kaikki_naiset }}</td>
      <td>{{ toimikunta.kaikki }}</td>
    </tr>
  </tbody>
</table>

[[/i18n.jasenesitykset]]
[[/i18n.yleiset]]
