{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.jasenesitykset]]
<h1>[[jasenesitykset]]</h1>

<button class="button-with-icon add-icon-white luo-uusi" ng-click="luoJasenesitys()">[[luo_jasenesitys]]</button>

<h2>[[hae_jasenesityksia]]</h2>

<fieldset>
  <label>[[ehdokkaan_nimi]]</label>
  <input type="text" ng-model="haku.ehdokas" ng-model-options="{debounce: 200}">
</fieldset>
<fieldset>
  <label>[[tyoelamajarjesto]]</label>
  <input type="text" ng-model="haku.jarjesto" ng-model-options="{debounce: 200}">
</fieldset>
<fieldset>
  <label>[[tutkintotoimikunta]]</label>
  <input type="text" ng-model="haku.toimikunta" ng-model-options="{debounce: 200}">
</fieldset>
<fieldset>
  <input type="checkbox" ng-model="haku.asiantuntijaksi"/>
  <label>[[kaytettavissa_asiantuntijaksi]]</label>
</fieldset>

<div>
  [[nayta]]

  <label><input type="radio" ng-model="haku.tila" ng-value="null"> [[kaikki]]</label>
  <label><input type="radio" ng-model="haku.tila" value="esitetty"> [[esitetty]]</label>
  <label><input type="radio" ng-model="haku.tila" value="nimitetty"> [[nimitetty]]</label>
  <label><input type="radio" ng-model="haku.tila" value="peruutettu"> [[peruutettu]]</label>
</div>

<div class="table">
  <div class="table-header">
    <div class="table-cell">[[ehdokkaan_nimi]]</div>
    <div class="table-cell">[[keskusjarjesto]]</div>
    <div class="table-cell">[[tyoelamajarjesto]]</div>
    <div class="table-cell">[[toimikunta]]</div>
    <div class="table-cell">[[esityspvm]]</div>
    <div class="table-cell">[[nimityspaiva]]</div>
    <div class="table-cell" ng-if="!haku.tila || haku.tila === 'nimitetty'">[[rooli]]</div>
    <div class="table-cell" ng-if="!haku.tila || haku.tila === 'nimitetty'">[[edustus]]</div>
    <div class="table-cell">[[muutettu]]</div>
    <div class="table-cell">[[tila]]</div>
  </div>
  <div class="table-row" ng-repeat="esitys in esitykset">
    <div class="table-cell">{{ esitys.etunimi }} {{ esitys.sukunimi }}</div>
    <div class="table-cell">{{ esitys | lokalisoiKentta:'esittaja_keskusjarjesto_nimi' }}</div>
    <div class="table-cell">{{ esitys | lokalisoiKentta:'esittaja_jarjesto_nimi' }}</div>
    <div class="table-cell"><a ng-href="#/toimikunta/{{ esitys.tutkintotoimikunta_diaarinumero }}/tiedot">{{ esitys | lokalisoiKentta:'tutkintotoimikunta_nimi' }}</a></div>
    <div class="table-cell">{{ esitys.luotuaika | date:'dd.MM.yyyy' }}</div>
    <div class="table-cell">{{ esitys.nimityspaiva | date:'dd.MM.yyyy' }}</div>
    <div class="table-cell" ng-if="!haku.tila || haku.tila === 'nimitetty'"><enum-arvo arvo="esitys.rooli" nimi="rooli"></enum-arvo></div>
    <div class="table-cell" ng-if="!haku.tila || haku.tila === 'nimitetty'"><enum-arvo arvo="esitys.edustus" nimi="edustus"></enum-arvo></div>
    <div class="table-cell">{{ esitys.muutettuaika | date:'dd.MM.yyyy' }}</div>
    <div class="table-cell"><enum-arvo arvo="esitys.status" nimi="jasenyyden_status"></enum-arvo></div>
  </div>
</div>

<div>
  [[jasenesityksia]]: {{ esitykset.length }}
</div>

[[/i18n.jasenesitykset]]
[[/i18n.yleiset]]
