{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.toimikunta]]
<h1 class="e2e-jasenet-otsikko">
  [[jasenten-hallinta]] - {{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}
  <ohje tunniste="toimikunnan-jasenet"></ohje>
</h1>

<paatos-pdf paatokset="muutos,taydennys" jasenet="toimikunta.jasenyys"></paatos-pdf>

<div class="list-controls">
  <button class="icon add-icon" ng-click="siirryJasenenLisaykseen()"></button>
</div>

<h2>[[jasenet]]</h2>

<form name="jasenetForm">
  <table class="toimikunnan-jasenet">
    <thead>
    <tr>
      <th>[[nimi]]</th>
      <th>[[tila]]</th>
      <th>[[rooli]]</th>
      <th>[[edustus]]</th>
      <th>[[jarjesto]]</th>
      <th>[[nimityspaiva]]</th>
      <th>[[jasenyyden-voimassaolo]]</th>
      <th>[[poista]] / [[palauta]]</th>
    </tr>
    </thead>
    <tr ng-repeat="henkilo in toimikunta.jasenyys | orderBy:'voimassa':true | orderBy:'alkupvm'" ng-class="{removed : henkilo.poistettu}">
      <td ng-class="{voimassa : henkilo.voimassa}">
        <a href="#/henkilot/{{henkilo.henkiloid}}/tiedot">{{henkilo.etunimi}} {{henkilo.sukunimi}}</a>
        <span ng-hide="henkilo.voimassa">([[ei-voimassa]])</span>
      </td>
      <td><enum-valikko pakollinen="true" nimi="jasenyyden_status" arvo="henkilo.status"></enum-valikko></td>
      <td class="e2e-rooli"><enum-valikko pakollinen="true" nimi="rooli" arvo="henkilo.rooli"></enum-valikko></td>
      <td><enum-valikko pakollinen="true" nimi="edustus" arvo="henkilo.edustus"></enum-valikko></td>
      <td>{{henkilo | lokalisoiKentta:'jarjesto_nimi' }}</td>
      <td><pvm-valitsin valittu-pvm="henkilo.nimityspaiva" max-pvm="henkilo.alkupvm" ng-disabled="henkilo.status == 'esitetty'"></pvm-valitsin></td>
      <td>
        <pvm-valitsin pakollinen="true" valittu-pvm="henkilo.alkupvm" min-pvm="toimikunta.toimikausi_alku" max-pvm="toimikunta.toimikausi_loppu"></pvm-valitsin>
        &nbsp;-&nbsp;
        <pvm-valitsin pakollinen="true" valittu-pvm="henkilo.loppupvm" min-pvm="toimikunta.toimikausi_alku" max-pvm="toimikunta.toimikausi_loppu"></pvm-valitsin>
      </td>
      <td>
        <button class="icon delete-icon" ng-click="poistaJasen(henkilo)" ng-hide="henkilo.poistettu"></button>
        <button class="icon add-icon" ng-click="peruutaPoisto(henkilo)" ng-hide="!henkilo.poistettu"></button>
      </td>
    </tr>
  </table>
  <div>
    <tallenna formi-validi="jasenetForm.$valid" disabloi-pyyntojen-ajaksi="['muokkaa-toimikunnan-jasenia']" ng-click="tallenna(toimikunta.jasenyys)" teksti="'[[tallenna]]'"></tallenna>
    <button ng-click="peruuta()">[[peruuta]]</button>
  </div>
</form>

[[/i18n.toimikunta]]
[[/i18n.yleiset]]
