{{=[[ ]]=}}
<ul class="change-lang">
  <li id="fi" class="change-lang-active" ng-if="locale!='fi'"><a href="[[base-url]]/fi/">FI</a></li>
  <li id="fi" class="change-lang-inactive" ng-if="locale=='fi'"><span>FI</span></li>
  <li id="sv" class="change-lang-active" ng-if="locale!='sv'"><a href="[[base-url]]/sv/">SV</a></li>
  <li id="sv" class="change-lang-inactive" ng-if="locale=='sv'"><span>SV</span></li>
</ul>
