{{=[[ ]]=}}
[[#i18n.koulutustoimijat]]
<h1>[[koulutustoimijahaku]]</h1>
<form>
  <div><fieldset class="search-field">
    <label>[[koulutustoimijan-nimi]]</label>
    <input type="text" ng-model="search.nimi" class="search-with-autocomplete">
  </fieldset>
  <haku-valitsin
    otsikko="[[opintoala-osaamisala-tutkinnonosa]]"
    url="[[base-url]]/api/tutkinto/haku/osat"
    model="search"
    model-id-property="tunnus"
    model-text-property="nimi">
  </haku-valitsin>
  <div>
    <fieldset class="search-field">
      <h3>[[i18n.yleiset.voimassaolevia-sopimuksia]]</h3>
      <input id="sopimuksia_kylla" type="radio" ng-model="search.sopimuksia" value="kylla">
      <label class="input" for="sopimuksia_kylla">[[i18n.yleinen.kylla]]</label><br/>
      <input id="sopimuksia_ei" type="radio" ng-model="search.sopimuksia" value="ei">
      <label class="input" for="sopimuksia_ei">[[i18n.yleinen.ei]]</label><br/>
      <input id="sopimuksia_kaikki" type="radio" ng-model="search.sopimuksia" value="kaikki">
      <label class="input" for="sopimuksia_kaikki">[[i18n.yleiset.nayta-kaikki]]</label>
    </fieldset>
  </div>
</form>

<div class="search-results" lataus-indikaattori metodi-idt="['koulutustoimijalistaus']" viesti="[[koulutustoimijoita-ladataan]]" virheviesti="[[koulutustoimijoiden-lataus-epaonnistui]]" yrita-uudelleen="haeKoulutustoimijat()">
  <hakutulokset tuloksia-sivulla="10" otsikot="['[[i18n.yleiset.nimi]]', '[[ytunnus]]', '[[i18n.yleiset.sopimukset]]']" hakutulokset="koulutustoimijat">
    <div class="table-cell"><a href="#/koulutustoimija/{{hakutulos.ytunnus}}/tiedot">{{hakutulos.nimi | lokalisoi:hakutulos:'nimi'}}</a></div>
    <div class="table-cell">{{hakutulos.ytunnus}}</div>
    <div class="table-cell">{{hakutulos.sopimusten_maara}}</div>
  </hakutulokset>
  <div>
    <a ng-href="[[base-url]]/api/henkilo/csv?nimi={{search.nimi}}&toimikunta={{search.tunnus}}&sopimuksia={{search.sopimuksia}}"
       id="koulutustoimijat-linkki" class="liite-linkki" target="_blank">[[lataa-koulutustoimijat]]</a>
  </div>
</div>

[[/i18n.koulutustoimijat]]
