{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.koulutustoimijat]]
<h1>{{koulutustoimija.nimi | lokalisoi:koulutustoimija:'nimi'}}</h1>

<section class="info-section">
  <fieldset>
    <label>[[ytunnus]]</label>
    <p>{{koulutustoimija.ytunnus}}</p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.sahkoposti]]</label>
    <p><a ng-href="mailto:{{koulutustoimija.sahkoposti}}">{{koulutustoimija.sahkoposti}}</a></p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.puhelin]]</label>
    <p>{{koulutustoimija.puhelin}}</p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.osoite]]</label>
    <div>{{koulutustoimija.osoite}}</div>
    <div>{{koulutustoimija.postinumero}} {{koulutustoimija.postitoimipaikka}}</div>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.www-osoite]]</label>
    <p><a ng-href="{{koulutustoimija.www_osoite}}">{{koulutustoimija.www_osoite}}</a></p>
  </fieldset>
</section>

<sopimusten-listaus class="nykyiset-sopimukset"
                    otsikko="'[[i18n.jarjestamissopimus.jarjestamissopimukset]]'"
                    sopimukset="sopimukset.nykyiset"
                    nayta-tutkinnot="true"
                    piilota-koulutustoimijat="true">
</sopimusten-listaus>
<div>
  <a id="sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?koulutustoimija={{koulutustoimija.ytunnus}}" target="_blank">[[lataa-koulutustoimijan-sopimukset]]</a>
</div>

<div>
  <p><a class="ajax-link show-more" href="" ng-show="sopimukset.vanhat.length > 0" ng-click="naytaVanhatSopimukset = !naytaVanhatSopimukset">{{naytaVanhatSopimukset ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>

  <div ng-show="naytaVanhatSopimukset">
    <sopimusten-listaus
      otsikko="'[[i18n.jarjestamissopimus.aiemmat-jarjestamissopimukset]]'"
      sopimukset="sopimukset.vanhat"
      nayta-tutkinnot="true"
      piilota-koulutustoimijat="true">
    </sopimusten-listaus>
    <div>
      <a id="aiemmat-sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?koulutustoimija={{koulutustoimija.ytunnus}}&voimassa=false" target="_blank">[[lataa-koulutustoimijan-sopimukset]]</a>
    </div>
  </div>
</div>

<h2>[[oppilaitokset]]</h2>
<table>
  <thead>
    <tr>
      <th>[[i18n.yleiset.nimi]]</th>
      <th>[[i18n.oppilaitokset.oppilaitoskoodi]]</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="oppilaitos in koulutustoimija.oppilaitokset">
      <td><a ng-href="#/oppilaitos/{{oppilaitos.oppilaitoskoodi}}/tiedot">{{oppilaitos.nimi}}</a></td>
      <td>{{oppilaitos.oppilaitoskoodi}}</td>
    </tr>
  </tbody>
</table>
[[/i18n.koulutustoimijat]]
[[/i18n.yleiset]]
