{{=[[ ]]=}}
<fieldset>
<label>[[i18n.yleiset.luotu]]</label>
<p>{{model.luotuaika | date:'dd.MM.yyyy HH:mm:ss'}}<br />{{model.luotu_kayttaja.etunimi}} {{model.luotu_kayttaja.sukunimi}}</p>
</fieldset>
