{{=[[ ]]=}}
<fieldset>
<label>[[i18n.yleiset.muutettu]]</label>
<p>{{model.muutettuaika | date:'dd.MM.yyyy HH:mm:ss'}}<br />{{model.muutettu_kayttaja.etunimi}} {{model.muutettu_kayttaja.sukunimi}}</p>
</fieldset>
