{{=[[ ]]=}}
[[#i18n.oppilaitokset]]
<h1>[[oppilaitoshaku]]</h1>
<form>
  <div><fieldset class="search-field">
    <label>[[oppilaitoksen-nimi]]</label>
    <input type="text" ng-model="search.nimi" class="search-with-autocomplete">
  </fieldset>
  <haku-valitsin
    otsikko="[[opintoala-osaamisala-tutkinnonosa]]"
    url="[[base-url]]/api/tutkinto/haku/osat"
    model="search"
    model-id-property="termi"
    model-text-property="nimi">
  </haku-valitsin>
</form>

<div class="search-results" lataus-indikaattori metodi-idt="['oppilaitoslistaus']" viesti="[[oppilaitoksia-ladataan]]" virheviesti="[[oppilaitoksien-lataus-epaonnistui]]" yrita-uudelleen="haeOppilaitokset()">
  <hakutulokset tuloksia-sivulla="10" otsikot="['[[i18n.yleiset.nimi]]', '[[oppilaitoskoodi]]', '[[i18n.yleiset.kielisyys]]']" hakutulokset="oppilaitokset">
    <div class="table-cell"><a href="#/oppilaitos/{{hakutulos.oppilaitoskoodi}}/tiedot">{{hakutulos.nimi}}</a></div>
    <div class="table-cell">{{hakutulos.oppilaitoskoodi}}</div>
    <div class="table-cell">{{i18n['enum']['kieli-arvo'][hakutulos.kieli]}}</div>
  </hakutulokset>
</div>

[[/i18n.oppilaitokset]]
