{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.oppilaitokset]]
<h1>{{oppilaitos.nimi}}</h1>

<section class="info-section">
  <fieldset>
    <label>[[oppilaitoskoodi]]</label>
    <p>{{oppilaitos.oppilaitoskoodi}}</p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.kielisyys]]</label>
    <p><enum-arvo nimi="kieli" arvo="oppilaitos.kieli"></enum-arvo></p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.sahkoposti]]</label>
    <p><a href="mailto:{{oppilaitos.sahkoposti}}">{{oppilaitos.sahkoposti}}</a></p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.puhelin]]</label>
    <p>{{oppilaitos.puhelin}}</p>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.osoite]]</label>
    <div>{{oppilaitos.osoite}}</div>
    <div>{{oppilaitos.postinumero}} {{oppilaitos.postitoimipaikka}}</div>
  </fieldset>
  <fieldset>
    <label>[[i18n.yleiset.www-osoite]]</label>
    <p><a href="{{oppilaitos.www_osoite}}">{{oppilaitos.www_osoite}}</a></p>
  </fieldset>
  <fieldset>
    <label>[[koulutustoimija]]</label>
    <p><a href="#/koulutustoimija/{{oppilaitos.koulutustoimija.ytunnus}}/tiedot">{{oppilaitos.koulutustoimija.nimi | lokalisoi:oppilaitos.koulutustoimija:'nimi'}}</a></p>
</section>

<sopimusten-listaus class="nykyiset-sopimukset"
                    otsikko="'[[i18n.jarjestamissopimus.jarjestamissopimukset]]'"
                    sopimukset="sopimukset.nykyiset"
                    nayta-tutkinnot="true"
                    piilota-koulutustoimijat="true" >
</sopimusten-listaus>
<div>
  <a id="sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?oppilaitos={{oppilaitos.oppilaitoskoodi}}" target="_blank">[[lataa-oppilaitoksen-sopimukset]]</a>
</div>
<div>
  <p><a class="ajax-link show-more" href="" ng-show="sopimukset.vanhat.length > 0" ng-click="naytaVanhatSopimukset = !naytaVanhatSopimukset">{{naytaVanhatSopimukset ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>

  <div ng-show="naytaVanhatSopimukset">
    <sopimusten-listaus
      otsikko="'[[i18n.jarjestamissopimus.aiemmat-jarjestamissopimukset]]'"
      sopimukset="sopimukset.vanhat"
      nayta-tutkinnot="true"
      piilota-koulutustoimijat="true">
    </sopimusten-listaus><div>
      <a id="aiemmat-sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?oppilaitos={{oppilaitos.oppilaitoskoodi}}&voimassa=false" target="_blank">[[lataa-oppilaitoksen-aiemmat-sopimukset]]</a>
    </div>
  </div>
</div>
[[/i18n.oppilaitokset]]
[[/i18n.yleiset]]
