{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.toimikunta]]
<div class="paatos-pdf">
  <div class="modal-window tulosta-paatos" id="tulosta-paatos-modal" ng-show="tulostaPaatosModal">
    <button class="icon delete-icon sulje" ng-click="hideTulostaPaatosModal()"></button>

    <h2 ng-if="type == 'asettamis'">[[tulosta-asettamispaatos]]</h2>
    <h2 ng-if="type == 'muutos'">[[tulosta-muutospaatos]]</h2>
    <h2 ng-if="type == 'taydennys'">[[tulosta-taydennyspaatos]]</h2>

    <form name="tulostapaatosForm" ng-show="showLomake" class="clearBoth">
      <hr>

      <fieldset>
        [[valitse-paatoksen-kieli]] <br />
        <label>
          <input type="radio" value="fi" name="paatosKieli" ng-model="paatosPDF.kieli" ng-required="true">
          [[paatoskieli-suomi]]
        </label>
        <label>
          <input type="radio" value="sv" name="paatosKieli" ng-model="paatosPDF.kieli">
          [[paatoskieli-ruotsi]]
        </label>
      </fieldset>

      <section class="info-section" ng-if="type == 'muutos' || type == 'taydennys'">
        <fieldset>
          <label>[[valitse-taydennettava-jasen]]</label>
          <select ng-model="paatosPDF.jasen" ng-required="true">
            <option ng-repeat="henkilo in jasenet | orderBy:'voimassa':true" ng-class="{removed : henkilo.poistettu}" value="{{henkilo.jasenyys_id}}">{{henkilo.etunimi}} {{henkilo.sukunimi}}</option>
          </select>
        </fieldset>

        <fieldset ng-if="type == 'muutos'">
          <label>[[valitse-poisjaava-jasen]]</label>
          <select ng-model="paatosPDF.korvattu" ng-required="true">
            <option ng-repeat="henkilo in jasenet | orderBy:'voimassa':true" ng-class="{removed : henkilo.poistettu}" value="{{henkilo.jasenyys_id}}">{{henkilo.etunimi}} {{henkilo.sukunimi}}</option>
          </select>
        </fieldset>
      </section>

      <div>
        <pvm-valitsin pakollinen="true" valittu-pvm="paatosPDF.paivays" min-pvm="toimikunta.alkupvm" otsikko="[[paatospaivamaara]]"></pvm-valitsin>
      </div>

      <fieldset style="width: 61%;">
        <label>[[paatosteksti]]</label>
        <textarea ng-model="paatosPDF.paatosteksti"></textarea>
      </fieldset>

      <section class="info-section">
        <fieldset>
          <label class="pakollinen">[[paattaja]]</label>
          <input ng-required="true" type="text" ng-model="paatosPDF.hyvaksyja">
        </fieldset>
        <fieldset>
          <label class="pakollinen">[[virkanimike]]</label>
          <input ng-required="true" type="text" ng-model="paatosPDF.hyvaksyjan_asema">
        </fieldset>
      </section>

      <section class="info-section">
        <fieldset>
          <label class="pakollinen">[[esittelija]]</label>
          <input ng-required="true" type="text" ng-model="paatosPDF.esittelija">
        </fieldset>
        <fieldset>
          <label class="pakollinen">[[virkanimike]]</label>
          <input ng-required="true" type="text" ng-model="paatosPDF.esittelijan_asema">
        </fieldset>
      </section>

      <section class="info-section">
        <fieldset>
          <label>[[jakelu]]</label>
          <textarea ng-model="paatosPDF.jakelu"></textarea>
        </fieldset>
        <fieldset>
          <label>[[tiedoksi]]</label>
          <textarea ng-model="paatosPDF.tiedoksi"></textarea>
        </fieldset>
      </section>
      <button class="button modal-dialog-button-left" ng-click="hideTulostaPaatosModal()">[[peruuta]]</button>
      <tallenna class="modal-dialog-button-right" formi-validi="tulostapaatosForm.$valid" ng-click="esikatselePaatos(type)" teksti="'[[esikatsele]]'"></tallenna>
    </form>
    <section ng-show="!showLomake">
      <iframe id="paatosIframe" frameborder="0" width="100%" height="600" ng-src="{{paatosIframeSrc}}" style="padding-bottom: 15px;"></iframe>
      <button class="button modal-dialog-button-left" ng-click="showLomake=true">[[muokkaa-paatosta]]</button>
      <button class="button modal-dialog-button-right" ng-click="lataaPDF(type)">
        <span ng-if="type == 'asettamis'">[[tulosta-asettamispaatos]]</span>
        <span ng-if="type == 'muutos'">[[tulosta-muutospaatos]]</span>
        <span ng-if="type == 'taydennys'">[[tulosta-taydennyspaatos]]</span>
      </button>
    </section>
  </div>
  <div class="modal-backdrop" ng-show="tulostaPaatosModal">
</div>

<button ng-repeat="paatos in paatokset" class="button float-right clear" ng-click="showTulostaPaatosModal(paatos)" ng-if="[[yllapitaja]]">
  <span ng-if="paatos == 'asettamis'">[[tulosta-asettamispaatos]]</span>
  <span ng-if="paatos == 'muutos'">[[tulosta-muutospaatos]]</span>
  <span ng-if="paatos == 'taydennys'">[[tulosta-taydennyspaatos]]</span>
</button>

[[/i18n.toimikunta]]
[[/i18n.yleiset]]
