<fieldset class="datepicker-field">
  <!--{{=[[ ]]=}}-->
  <label ng-if="otsikko" ng-class="{pakollinen : pakollinen}">{{otsikko}}</label>
  <input
    type="text"
    datepicker-popup="dd.MM.yyyy"
    formatteddate="valittuDate"
    ng-model="valittuDate"
    ng-required="pakollinen"
    is-open="opened"
    min-date="minDate"
    max-date="maxDate"
    show-button-bar="false"/>
  <button
    ng-click="open($event)"
    class="open-datepicker icon calendar-icon">
</fieldset>

