{{=[[ ]]=}}
<fieldset class="datepicker-field">
  <label ng-if="otsikko">{{otsikko}}</label>
  <input start-date="{{minPvm}}" end-date="{{maxPvm}}" type="text" ng-model="valittuPvm" bs-datepicker>
  <div class="open-datepicker icon calendar-icon" data-toggle="datepicker"></div>
</fieldset>