<fieldset class="datepicker-field">
  <!--{{=[[ ]]=}}-->
  <label ng-if="otsikko">{{otsikko}}</label>
  <input
    type="text"
    datepicker-popup="dd.MM.yyyy"
    formatteddate="valittuDate"
    ng-model="valittuDate"
    is-open="opened"
    min="minDate"
    max="maxDate"
    show-button-bar="false"/>
  <button
    ng-click="open($event)"
    class="open-datepicker icon calendar-icon">
</fieldset>

