{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.raportit]]
<h1>[[raportit]]</h1>

<form>
  <fieldset class="search-field">
    <label>[[valitse-raportti]]</label>
    <select ng-model="raportti" ng-options="raportti.nimi for raportti in raportit"></select>
  </fieldset>

  <fieldset ng-show="raportti.id === 'nayttotutkinnot'">
  	<a ng-href="[[base-url]]/api/tutkinto/raportti" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
  </fieldset>

  <fieldset ng-show="raportti.id === 'jarjestamissopimukset'">
  	<a ng-href="[[base-url]]/api/jarjestamissopimus/raportti" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
  </fieldset>

  <fieldset ng-show="raportti.id === 'tilastotietoa'">
  	<label>[[toimikausi]]</label><select ng-model="tilasto_toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm + ' - ' + toimikausi.loppupvm for toimikausi in toimikaudet"></select>
  	<a ng-href="[[base-url]]/api/ttk/tilastoraportti?toimikausi_id={{tilasto_toimikausi}}" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
  </fieldset>

  <fieldset ng-show="raportti.id === 'tutkintotoimikunnat'">
  	<a ng-href="[[base-url]]/api/ttk/raportti" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
  </fieldset>

</form>
[[/i18n.raportit]]
[[/i18n.yleiset]]
