{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.raportit]]
<h1>[[raportit]]</h1>

<form>
  <fieldset class="search-field">
    <label>[[valitse-raportti]]</label>
    <select ng-model="raportti" ng-options="raportti.nimi for raportti in raportit"></select>
  </fieldset>

  <div ng-show="raportti.id === 'nayttotutkinnot'">
    <a ng-href="[[base-url]]/api/tutkinto/raportti" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
  </div>

  <div ng-show="raportti.id === 'jarjestamissopimukset'">
    <div>
      <fieldset>
        <label>[[toimikausi]]</label>
        <select ng-model="sopimukset.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm + ' - ' + toimikausi.loppupvm for toimikausi in toimikaudet"></select>
      </fieldset>
    </div>
    <div>
      <haku-valitsin
        monivalinta="true"
        otsikko="[[opintoala]]"
        url="[[base-url]]/api/opintoala/haku"
        model="sopimukset.opintoala"
        model-id-property="opintoala_tkkoodi"
        model-text-property="selite">
      </haku-valitsin>
    </div>
    <div>
    <a ng-href="[[base-url]]/api/jarjestamissopimus/raportti?toimikausi={{sopimukset.toimikausi}}&{{sopimukset.opintoala|parametrit:'opintoala_tkkoodi':'opintoala'}}" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
    </div>
  </div>

  <div ng-show="raportti.id === 'tilastotietoa'">
    <fieldset>
      <label>[[toimikausi]]</label>
      <select ng-model="tilastot.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm + ' - ' + toimikausi.loppupvm for toimikausi in toimikaudet"></select>
    </fieldset>
    <div>
      <a ng-href="[[base-url]]/api/ttk/tilastoraportti?toimikausi={{tilastot.toimikausi}}" class="liite-linkki" target="_blank">[[hae-raportti]]</a>
    </div>
  </div>

  <div ng-show="raportti.id === 'tutkintotoimikunnat'">
    <div>
      <fieldset>
        <label>[[toimikausi]]</label>
        <select ng-model="toimikunnat.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm + ' - ' + toimikausi.loppupvm for toimikausi in toimikaudet"></select>
      </fieldset>
    </div>
    <div>
      <enum-monivalinta nimi="kieli" otsikko="[[kielisyys]]" arvot="toimikunnat.kieli"></enum-monivalinta>
    </div>
    <div>
      <haku-valitsin
        monivalinta="true"
        otsikko="[[opintoala]]"
        url="[[base-url]]/api/opintoala/haku"
        model="toimikunnat.opintoala"
        model-id-property="opintoala_tkkoodi"
        model-text-property="selite">
      </haku-valitsin>
    </div>
    <div>
      <a ng-href="[[base-url]]/api/ttk/raportti?toimikausi={{toimikunnat.toimikausi}}&{{toimikunnat.opintoala|parametrit:'opintoala_tkkoodi':'opintoala'}}&{{toimikunnat.kieli|parametrit:'nimi':'kieli'}}"
         class="liite-linkki" target="_blank">[[hae-raportti]]</a>
    </div>
  </div>

  <div ng-show="raportti.id === 'jasenet'">
    <div>
      <fieldset>
        <label>[[toimikausi]]</label>
        <select ng-model="jasenet.toimikausi" ng-options="toimikausi.toimikausi_id as toimikausi.alkupvm + ' - ' + toimikausi.loppupvm for toimikausi in toimikaudet"></select>
      </fieldset>
    </div>
    <div>
      <enum-monivalinta nimi="rooli" otsikko="[[rooli]]" arvot="jasenet.rooli"></enum-monivalinta>
    </div>
    <div>
      <enum-monivalinta nimi="edustus" otsikko="[[edustus]]" arvot="jasenet.edustus"></enum-monivalinta>
    </div>
    <div>
      <enum-monivalinta nimi="kieli" otsikko="[[kielisyys]]" arvot="jasenet.kieli"></enum-monivalinta>
    </div>
    <div>
      <haku-valitsin
        monivalinta="true"
        otsikko="[[jarjesto]] / [[keskusjarjesto]]"
        url="[[base-url]]/api/jarjesto/haku/"
        model="jasenet.jarjesto"
        model-id-property="jarjesto"
        model-text-property="jarjesto_nimi">
      </haku-valitsin>
    </div>
    <div>
      <fieldset class="select2-fieldset">
        <label>[[opintoala]]</label>
        <select ui-select2="select2Options" ng-model="jasenet.opintoala" multiple="multiple">
          <option></option>
          <optgroup ng-repeat="koulutusala in koulutusalat" label="{{koulutusala.koulutusala_tkkoodi}}. {{koulutusala.koulutusala_nimi | lokalisoi:koulutusala:'koulutusala_nimi'}}">
            <option ng-repeat="opintoala in koulutusala.opintoalat | orderBy:opintoalaOrder" value="{{opintoala.opintoala_tkkoodi}}">{{opintoala.opintoala_nimi | lokalisoi:opintoala:'opintoala_nimi'}}</option>
          </optgroup>
        </select>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <label>[[nayta-yhteystiedot]]</label>
        <input type="checkbox" ng-model="jasenet.yhteystiedot"></input>
      </fieldset>
    </div>
    <div>
      <a ng-href="[[base-url]]/api/ttk/jasenraportti?toimikausi={{jasenet.toimikausi}}&{{jasenet.rooli|parametrit:'nimi':'rooli'}}&{{jasenet.edustus|parametrit:'nimi':'edustus'}}&{{jasenet.jarjesto|parametrit:'jarjesto':'jarjesto'}}&{{jasenet.kieli|parametrit:'nimi':'kieli'}}&yhteystiedot={{jasenet.yhteystiedot}}&{{jasenet.opintoala|parametrit:'':'opintoala'}}"
         class="liite-linkki" target="_blank">[[hae-raportti]]</a>
    </div>
  </div>

</form>
[[/i18n.raportit]]
[[/i18n.yleiset]]
