{{=[[ ]]=}}
[[#i18n.sivutus]]
<pagination
  max-size="0"
  direction-links="true"
  boundary-links="true"
  total-items="hakutulokset.length"
  page="nykyinenSivu"
  items-per-page="tuloksiaSivulla"
  previous-text="[[edellinen]]"
  next-text="[[seuraava]]"
  first-text="[[alkuun]]"
  last-text="[[loppuun]]">
</pagination>
[[/i18n.sivutus]]