{{=[[ ]]=}}
[[#i18n.jarjestamissopimus]]
<div class="sopimus-tutkinnon-osat" ng-class="{'tutkinnon-osien-muokkaus' : muokkaus}">
  <div ng-show="naytaTutkinnonosienValinta()">
    <input type="radio" value="true" ng-model="valitseKaikki" ng-change="valitseKaikkiChange()"><span>[[kaikki-tutkinnonosat]]</span>
    <input type="radio" value="false" ng-model="valitseKaikki" ng-change="valitseKaikkiChange()"><span>[[seuraavat-tutkinnonosat]]</span>
  </div>
  <div ng-show="naytaTutkinnonosat()">
    <h2>[[sopimukseen-kuuluvat-tutkinnonosat]] ({{valitutTutkinnonosat.length}}/{{kaikkiTutkinnonosat.length}})</h2>
    <table class="sopimuksen-tutkinnonosien-valinta tutkinnonosat">
      <thead>
        <tr>
          <th>[[jarjestysnumero]]</th>
          <th>[[tutkinnonosa]]</th>
          <th>[[i18n.yleiset.kuvaus]]</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="muokkaus" ng-repeat="tutkinnonosa in kaikkiTutkinnonosat | orderBy:'jarjestysnumero' | merkitseValinnatOsiin:valitutTutkinnonosat:'osatunnus'" ng-class="{valittu : tutkinnonosa.valittu}">
          <td class="jarjestysnumero"><button class="icon" ng-click="valitseTutkinnonosa(this.tutkinnonosa)"></button>{{tutkinnonosa.jarjestysnumero}}</td>
          <td><span class="osan-tieto nimi">{{tutkinnonosa.nimi | lokalisoi:tutkinnonosa:'nimi'}}</span></td>
          <td><span class="osan-tieto kuvaus">{{tutkinnonosa.kuvaus}}</span></td>
        </tr>
        <tr ng-if="!muokkaus" ng-repeat="valittuTutkinnonosa in valitutTutkinnonosat | jarjestaValitutJarjestysnumerolla:kaikkiTutkinnonosat" class="valittu">
          <td class="jarjestysnumero">{{valittuTutkinnonosa | naytaJarjestysnumeroValitulleTutkinnonosalle:kaikkiTutkinnonosat}}</td>
          <td><span class="osan-tieto nimi e2e-valittututkinnonosa-nimi">{{valittuTutkinnonosa.nimi | lokalisoi:valittuTutkinnonosa:'nimi'}}</span></td>
          <td><span class="osan-tieto kuvaus">{{valittuTutkinnonosa.kuvaus}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="naytaOsaamisalat()">
    <h2>[[sopimukseen-kuuluvat-osaamisalat]] ({{valitutOsaamisalat.length}}/{{kaikkiOsaamisalat.length}})</h2>
    <table class="sopimuksen-tutkinnonosien-valinta osaamisalat">
      <thead>
      <tr>
        <th>[[osaamisala]]</th>
        <th>[[i18n.yleiset.kuvaus]]</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-if="muokkaus" ng-repeat="osaamisala in kaikkiOsaamisalat | merkitseValinnatOsiin:valitutOsaamisalat:'osaamisalatunnus'" ng-class="{valittu : osaamisala.valittu}">
        <td><button class="icon" ng-click="valitseOsaamisala(this.osaamisala)"></button><span class="osan-tieto nimi">{{osaamisala.nimi | lokalisoi:osaamisala:'nimi'}}</span></td>
        <td><span class="osan-tieto kuvaus">{{osaamisala.kuvaus}}</span></td>
      </tr>
      <tr ng-if="!muokkaus" ng-repeat="valittuOsaamisala in valitutOsaamisalat" class="valittu">
        <td><span class="osan-tieto nimi e2e-valittuosaamisala-nimi">{{valittuOsaamisala.nimi | lokalisoi:valittuOsaamisala:'nimi'}}</span></td>
        <td><span class="osan-tieto kuvaus">{{valittuOsaamisala.kuvaus}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
[[/i18n.jarjestamissopimus]]
