{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
[[#i18n.yleiset]]

<div class="modal-body">
  <div>
    <fieldset>
      <label>[[etunimi]]</label>
      <p>{{suorittaja.etunimi}}</p>
    </fieldset>
    <fieldset>
      <label>[[sukunimi]]</label>
      <p>{{suorittaja.sukunimi}}</p>
    </fieldset>
    <fieldset>
      <label>[[hetu]]</label>
      <p>{{suorittaja.hetu}}</p>
    </fieldset>
    <fieldset>
      <label>OID</label>
      <p>{{suorittaja.oid}}</p>
    </fieldset>
  </div>
</div>
[[/i18n.yleiset]]
[[/i18n.arviointipaatokset]]