{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.arviointipaatokset]]

<h1>[[lisaa_suoritus]]</h1>

<form name="suoritusForm">
  <div>
    <fieldset>
      <label>[[suorittaja]]</label>
      <select ng-options="suorittaja.suorittaja_id as suorittaja.etunimi + ' ' + suorittaja.sukunimi for suorittaja in suorittajat" ng-model="form.suorittaja" required></select>
    </fieldset>

    <fieldset>
      <label>[[opiskelijavuosi]]</label>
      <select ng-model="form.opiskelijavuosi" ng-disabled="true">
        <option ng-repeat="vuosi in vuodet" value="{{ vuosi }}">{{ vuosi }}</option>
      </select>
    </fieldset>
  </div>
 
  <div>
    <fieldset>
      <label>[[jarjestamismuoto]]</label>
      <select ng-model="form.jarjestamismuoto" >
        <option value="oppilaitosmuotoinen">[[oppilaitosmuotoinen]]</option>
        <option value="oppisopimuskoulutus">[[oppisopimuskoulutus]]</option>
      </select>
    </fieldset>
  
    <fieldset>
      <label>[[rahoitusmuoto]]</label>
      <select ng-options="rahoitusmuoto.rahoitusmuoto_id as rahoitusmuoto.rahoitusmuoto for rahoitusmuoto in rahoitusmuodot" ng-model="form.rahoitusmuoto"></select>
    </fieldset>
  </div>

  <div>
    <fieldset>
      <label>[[tutkinto_jarjestaja]]</label>
      <select ng-options="koulutustoimija.ytunnus as (koulutustoimija | lokalisoiKentta:'nimi') for koulutustoimija in koulutustoimijat" ng-model="form.koulutustoimija" required></select>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <label>[[koulutus_jarjestaja]]</label>
      <select ng-options="koulutustoimija.ytunnus as (koulutustoimija | lokalisoiKentta:'nimi') for koulutustoimija in koulutustoimijat" ng-model="form.kouljarjestaja" required></select>
    </fieldset>    
    <fieldset>
      <label>[[valmistava_koulutus]]</label>
      <input type="checkbox" ng-model="form.valmistava_koulutus" >
    </fieldset>
  </div>
  <div>
    <fieldset>
        <label>[[tutkinto]]</label>
        <select ng-options="tutkinto.tutkintoversio_id as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') + ' (' + tutkinto.peruste + ')' for tutkinto in tutkinnot" ng-model="form.tutkintoversio_id" required></select>
    </fieldset>
    <fieldset>
        <label>[[toimikunta]]</label>
        <select ng-options="toimikunta.tkunta as toimikunta.diaarinumero + ' ' + (toimikunta | lokalisoiKentta:'nimi') for toimikunta in tutkintotoimikunnat" ng-model="form.toimikunta" required></select>
    </fieldset>    
  </div>
  <div>
    <fieldset>
       <pvm-valitsin  pakollinen="true" valittu-pvm="form.suoritusaika_alku" otsikko="[[suoritusaika_alku]]"></pvm-valitsin>
    </fieldset>
    <fieldset>
       <pvm-valitsin  pakollinen="true" valittu-pvm="form.suoritusaika_loppu" otsikko="[[suoritusaika_loppu]]"></pvm-valitsin>
    </fieldset>
  </div>
  <div>
    <fieldset>
       <pvm-valitsin  pakollinen="false" valittu-pvm="form.liitetty_pvm" otsikko="[[liittamispvm]]"></pvm-valitsin>
    </fieldset>    
    <fieldset>
       <pvm-valitsin  pakollinen="true" valittu-pvm="form.arviointikokouksen_pvm" otsikko="[[arviointikokouksen_pvm]]"></pvm-valitsin>
    </fieldset>    
  </div>
  <div>
      <fieldset>
        <label>[[suoritettava_tutkinto]]</label>
        <select ng-options="tutkinto.tutkintoversio_id as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') + ' (' + tutkinto.peruste + ')' for tutkinto in tutkinnot" ng-model="form.tutkintoversio_suoritettava"></select>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <label>[[jarjestelyt]]</label>
      <textarea ng-model="form.jarjestelyt"></textarea>
    </fieldset>

    <fieldset>
      <label>[[paikka]]</label>
      <textarea ng-model="form.paikka"></textarea>
    </fieldset>
  </div>
  
  <button class="button-with-icon add-icon-white float-right" ng-click="lisaaArvioija()">[[lisaa_arvioija]]</button>
   <div class="table">
     <div class="table-header">        
       <div class="table-cell">[[arvioijat]]</div>
       <div class="table-cell"></div>
     </div>
     <div class="table-row" ng-repeat="arvioija in form.arvioijat track by $index">
       <div class="table-cell">{{ arvioija.etunimi }} {{arvioija.sukunimi}} ( {{ arvioija.rooli }} )</div>
       <div class="table-cell"><button class="icon delete-icon" ng-click="poistaArvioija(arvioija)"></button></div>
     </div>
  </div>

    <h2>[[tutkinnon_osat]]</h2>

    <button class="button-with-icon add-icon-white float-right" ng-click="lisaaTutkinnonosa()">[[lisaa_tutkinnon_osa]]</button>

    <div class="table">
      <div class="table-header">
        <div class="table-cell">[[tutkinnon_osa]]</div>
        <div class="table-cell">[[tutkinto]]</div>
        <div class="table-cell">[[arvosana]]</div>
        <div class="table-cell">[[arvosanan_korotus]]</div>
        <div class="table-cell">[[osaamisen_tunnustaminen]]</div>
        <div class="table-cell">[[suorituskieli]]</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row" ng-repeat="osa in osat track by $index">
        <div class="table-cell">{{ osa.tutkinnonosa.osatunnus }} {{ osa.tutkinnonosa | lokalisoiKentta:'nimi' }}
        </div>
        <div class="table-cell">{{ osa.tutkinnonosa | lokalisoiKentta:'nayttotutkinto_nimi' }}</div>
        <div class="table-cell">{{ osa.arvosana }}</div>
        <div class="table-cell">{{ osa.arvosanan_korotus | muotoileBoolean }}</div>
        <div class="table-cell"> {{osa.osaamisen_tunnustaminen | date:'dd.MM.yyyy'}}</div>
        <div class="table-cell"><enum-arvo nimi="kieli" arvo="osa.kieli"></enum-arvo></div>
        <div class="table-cell"><button class="icon delete-icon" ng-click="poistaOsa(osa)"></button></div>
        <div class="table-cell"><button class="icon edit-icon" ng-click="muokkaaOsa(osa)"></button></div>
      </div>
    </div>

    <button class="button-with-icon add-icon-white" ng-disabled="suoritusForm.$invalid || osat.length === 0" ng-click="lisaaSuoritus()">[[lisaa_suoritus]]</button>
    <button ng-click="peruuta()">[[peruuta]]</button>
</form>

[[/i18n.arviointipaatokset]]
[[/i18n.yleiset]]
