{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
[[#i18n.yleiset]]

<div class="modal-body">
  <div>
    <fieldset>
      <label>[[etunimi]]</label>
      <p>{{suorittaja.etunimi}}</p>
    </fieldset>
    <fieldset>
      <label>[[sukunimi]]</label>
      <p>{{suorittaja.sukunimi}}</p>
    </fieldset>
    <fieldset>
      <label>[[hetu]]</label>
      <p>{{suorittaja.hetu}}</p>
    </fieldset>
    <fieldset>
      <label>OID</label>
      <p>{{suorittaja.oid}}</p>
    </fieldset>
  </div>
</div>

<hr> 
<table jarjestettava-taulukko="suoritukset" jarjestetty-data="suorituksetJarjestetty">
 <thead>
   <tr>
    <th jarjestettava-sarake="tutkinto_nimi" jarjestely-fn="orderByLokalisoitu">[[tutkinto]]</th>
    <th jarjestettava-sarake="tutkinnonosa_nimi" jarjestely-fn="orderByLokalisoitu">[[tutkinnon_osa]]</th>
    <th jarjestettava-sarake="osaamisala_nimi" jarjestely-fn="orderByLokalisoitu">[[osaamisala]]</th>
    <th jarjestettava-sarake="arvosana">[[arvosana]]</th>
    <th>[[arvosanan_korotus]]</th>
    <th>[[osaamisen_tunnustaminen]]</th>    
    <th>[[suorituskieli]]</th>
   </tr>
  </thead>
  <tr ng-repeat="suoritus in suorituksetJarjestetty track by $index">
      <td>{{ suoritus | lokalisoiKentta:'tutkinto_nimi' }}</td>
      <td>{{ suoritus | lokalisoiKentta:'tutkinnonosa_nimi' }}</td>
      <td>{{ suoritus | lokalisoiKentta:'osaamisala_nimi' }}</td>
      <td>{{ suoritus.arvosana | muotoileArvosana}}</td>
      <td>{{ suoritus.arvosanan_korotus | muotoileBoolean }}</td>
      <td>{{suoritus.osaamisen_tunnustaminen | date:'dd.MM.yyyy'}}</td>
      <td><enum-arvo nimi="kieli" arvo="suoritus.kieli"></enum-arvo></td>
  </tr>
</table>
 
 
[[/i18n.yleiset]]
[[/i18n.arviointipaatokset]]