{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.arviointipaatokset]]

<h1>[[lisaa_suoritus]]</h1>

<form name="suoritusForm">
    <fieldset>
      <label>[[suorittaja]]</label>
      <select ng-options="suorittaja.suorittaja_id as suorittaja.etunimi + ' ' + suorittaja.sukunimi for suorittaja in suorittajat" ng-model="form.suorittaja" required></select>
    </fieldset>

    <fieldset>
      <label>[[rahoitusmuoto]]</label>
      <select ng-options="rahoitusmuoto.rahoitusmuoto_id as rahoitusmuoto.rahoitusmuoto for rahoitusmuoto in rahoitusmuodot" ng-model="form.rahoitusmuoto" required></select>
    </fieldset>

    <fieldset>
      <label>[[tutkinto]]</label>
      <select ng-options="tutkinto.tutkintotunnus as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') for tutkinto in tutkinnot" ng-model="form.tutkinto" required></select>
    </fieldset>

    <h2>[[tutkinnon_osat]]</h2>

    <h3>[[lisaa_tutkinnon_osa]]</h3>

    <input type="text" ng-model="osaFilter" ng-model-options="{debounce: 100}" placeholder="[[etsi_tutkinnon_osista]]">

    <div>
      <div ng-repeat="tutkinnonosa in tutkinnonosat |filter:osaFilter |limitTo:5">{{ tutkinnonosa.osatunnus }} {{ tutkinnonosa | lokalisoiKentta:'nimi' }} <button class="icon add-icon" ng-click="lisaaOsa(tutkinnonosa)"></button></div>
    </div>

    <h3>[[valitut_osat]]</h3>

    <div class="table">
      <div class="table-header">
        <div class="table-cell">[[tutkinnon_osa]]</div>
        <div class="table-cell">[[tutkinto]]</div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row" ng-repeat="tutkinnonosa in osat track by $index">
        <div class="table-cell">{{ tutkinnonosa.osatunnus }} {{ tutkinnonosa | lokalisoiKentta:'nimi' }}</div>
        <div class="table-cell"></div>
        <div class="table-cell"><button class="icon delete-icon" ng-click="poistaOsa(tutkinnonosa)"></button></div>
      </div>
    </div>

    <button class="button-with-icon add-icon-white" ng-disabled="suoritusForm.$invalid" ng-click="lisaaSuoritus()">[[lisaa_suoritus]]</button>
    <button ng-click="peruuta()">[[peruuta]]</button>
</form>

[[/i18n.arviointipaatokset]]
[[/i18n.yleiset]]
