{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.toimikunta]]
<h1>
  <auth-toiminto ng-show="salliMuokkaus()" auth-nappi oikeus="toimikunta_paivitys" konteksti="toimikunta" entity-id="{{toimikunta.tkunta}}" class="icon edit-icon muokkaa-toimikuntaa" ng-click="muokkaa()"></auth-toiminto>
  <span ng-show="!luontiTila">{{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}</span>
  <span ng-show="luontiTila">[[luo-uusi]]</span>
  <span ng-show="toimikunta.voimassa === false">([[ei-voimassa]])</span>
  <ohje tunniste="toimikunta"></ohje>
</h1>

<section class="info-section">
  <form name="toimikuntaForm">
    <fieldset ng-hide="!luontiTila">
      <label ng-class="{pakollinen : luontiTila}">[[nimi]]</label>
      <input type="text" ng-required="true" ng-model="toimikunta.nimi_fi" placeholder="[[suomeksi]]">
      <br /><br />
      <input type="text" ng-required="true" ng-model="toimikunta.nimi_sv" placeholder="[[ruotsiksi]]">
    </fieldset>
    <fieldset>
      <label ng-class="{pakollinen : luontiTila}">[[diaarinumero]]</label>
      <p ng-hide="luontiTila">{{toimikunta.diaarinumero}}</p>
      <input type="text" ng-pattern="/^[0-9/]+$/" ng-required="true" ng-model="toimikunta.diaarinumero" ng-hide="!luontiTila" maxlength="20">
    </fieldset>
    <fieldset>
      <label ng-class="{pakollinen : luontiTila}">[[tilikoodi]]</label>
      <p ng-hide="luontiTila">{{toimikunta.tilikoodi}}</p>
      <input type="text" ng-model="toimikunta.tilikoodi" ng-hide="!luontiTila" maxlength="4">
    </fieldset>
    <fieldset>
      <label>[[sahkoposti]]</label>
      <p ng-hide="muokkausTila"><a href="mailto:{{toimikunta.sahkoposti}}">{{toimikunta.sahkoposti}}</a></p>
      <input type="text" ng-model="toimikunta.sahkoposti" ng-hide="!muokkausTila" maxlength="100">
    </fieldset>
    <fieldset>
      <label ng-class="{pakollinen : muokkausTila}">[[kielisyys]]</label>
      <enum-valikko pakollinen="true" ng-hide="!muokkausTila" nimi="kieli" arvo="toimikunta.kielisyys"></enum-valikko>
      <p ng-hide="muokkausTila"><enum-arvo nimi="kieli" arvo="toimikunta.kielisyys"></enum-arvo></p>
    </fieldset>
    <luotu model="toimikunta"></luotu>
    <muutettu model="toimikunta"></muutettu>
    <div>
      <label ng-class="{pakollinen : luontiTila}">[[toimikausi]]</label>
      <p ng-hide="muokkausTila">{{toimikunta.toimikausi_alku | date:'dd.MM.yyyy'}} – {{toimikunta.toimikausi_loppu | date:'dd.MM.yyyy'}}</p>
      <div ng-hide="!muokkausTila">
        <fieldset ng-hide="!luontiTila">
          <label></label>
          <select ng-model="toimikunta.toimikausi" ng-options="toimikausi.toimikausi_id as (toimikausi.alkupvm | date:'dd.MM.yyyy') + ' – ' + (toimikausi.loppupvm | date:'dd.MM.yyyy') for toimikausi in toimikaudet">
          </select>
        </fieldset>
        <pvm-valitsin pakollinen="true" valittu-pvm="toimikunta.toimikausi_alku" min-pvm="toimikunta.alkupvm" max-pvm="toimikunta.loppupvm" otsikko="[[toimikausi_alku]]"></pvm-valitsin>
        <pvm-valitsin pakollinen="true" valittu-pvm="toimikunta.toimikausi_loppu" min-pvm="toimikunta.alkupvm" max-pvm="toimikunta.loppupvm" otsikko="[[toimikausi_loppu]]"></pvm-valitsin>
      </div>
    </div>
    <pakollisia-kenttia ng-show="muokkausTila"></pakollisia-kenttia>
    <div>
      <tallenna formi-validi="toimikuntaForm.$valid" disabloi-pyyntojen-ajaksi="['toimikunnan-tietojen-muokkaus']" ng-hide="!muokkausTila" ng-click="tallenna()" teksti="'[[tallenna]]'"></tallenna>
      <button ng-hide="!muokkausTila" ng-click="peruuta()">[[peruuta]]</button>
    </div>
  </form>
</section>

<div ng-hide="muokkausTila">
  <div>
    <div class="list-controls">
        <auth-toiminto ng-show="salliMuokkaus()" auth-nappi oikeus="toimikunta_paivitys" konteksti="toimikunta" entity-id="{{toimikunta.tkunta}}" class="icon edit-icon muokkaa-toimialaa" ng-click="muokkaaToimialaa()"></auth-toiminto>
    </div>
    <h2>[[tutkintotoimikunnan-toimiala]]</h2>
    <table jarjestettava-taulukko="toimikunta.nayttotutkinto" jarjestetty-data="tutkintoJarjestetty">
      <thead>
      <tr>
        <th jarjestettava-sarake="opintoala_nimi" jarjestely-fn="orderByLokalisoitu" oletus-jarjestely>[[opintoala]]</th>
        <th jarjestettava-sarake="nimi" jarjestely-fn="orderByLokalisoitu">[[nayttotutkinto]]</th>
      </tr>
      </thead>
      <tr ng-repeat="tutkinto in tutkintoJarjestetty">
        <td>{{tutkinto.opintoala_nimi | lokalisoi:tutkinto:'opintoala_nimi'}}</td>
        <td><a href="#/tutkinto/{{tutkinto.tutkintotunnus}}">{{tutkinto.tutkintotunnus}} {{tutkinto.nimi |lokalisoi:tutkinto:'nimi'}}</a></td>
      </tr>
    </table>
  </div>

  <div>
    <a id="toimiala-linkki" class="liite-linkki" ng-href="[[base-url]]/api/ttk/{{toimikunta.tkunta}}/toimiala" target="_blank">[[lataa-toimikunnan-toimiala]]</a>
  </div>

  <div ng-show="toimikunta.voimassa">
    <div class="list-controls">
      <auth-toiminto auth-nappi oikeus="toimikuntajasen_yllapito" konteksti="toimikunta" entity-id="{{toimikunta.tkunta}}" class="icon edit-icon muokkaa-jasenia" ng-click="muokkaaJasenia()"></auth-toiminto>
    </div>
    <jasenyyksien-listaus class="nykyiset-jasenyydet"
                          otsikko="'[[jasenet]]'"
                          jasenet="nykyisetJasenet"
                          nayta-sahkoposti="true"
                          piilota-kesto="true">
    </jasenyyksien-listaus>
  </div>
  <div>
    <a id="jasenet-linkki" class="liite-linkki" ng-href="[[base-url]]/api/ttk/{{toimikunta.tkunta}}/jasenet" target="_blank">[[lataa-toimikunnan-jasenet]]</a>
  </div>

  <div>
    <div class="aiemmat-jasenyydet" ng-if="entisetJasenet.length > 0">
      <p ng-show="toimikunta.voimassa"><a class="ajax-link show-more" href="" ng-click="naytaVanhatJasenyydet = !naytaVanhatJasenyydet">{{naytaVanhatJasenyydet ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>
      <div ng-show="naytaVanhatJasenyydet || !toimikunta.voimassa">
        <jasenyyksien-listaus
          otsikko="toimikunta.voimassa ? '[[aiemmat-jasenet]]' : '[[jasenet]]'"
          jasenet="entisetJasenet">
        </jasenyyksien-listaus>
        <div>
          <a id="aiemmat-jasenet-linkki" class="liite-linkki" ng-href="[[base-url]]/api/ttk/{{toimikunta.tkunta}}/aiemmat-jasenet" target="_blank">[[lataa-toimikunnan-aiemmat-jasenet]]</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="list-controls">
      <auth-toiminto ng-show="salliMuokkaus()" auth-nappi oikeus="sopimus_lisays" konteksti="toimikunta" entity-id="{{toimikunta.tkunta}}" class="icon add-icon lisaa-sopimus" ng-click="siirrySopimuksenLuontiin()"></auth-toiminto>
    </div>
    <sopimusten-listaus class="nykyiset-sopimukset"
                        otsikko="'[[i18n.jarjestamissopimus.jarjestamissopimukset]]'"
                        sopimukset="nykyisetSopimukset"
                        nayta-tutkinnot="true">
    </sopimusten-listaus>
  </div>

  <div>
    <a id="sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?toimikunta={{toimikunta.tkunta}}" target="_blank">[[lataa-toimikunnan-sopimukset]]</a>
  </div>

  <div>
    <div class="vanhat-sopimukset">
      <p><a class="ajax-link show-more" href="" ng-show="entisetSopimukset.length > 0" ng-click="naytaVanhatSopimukset = !naytaVanhatSopimukset">{{naytaVanhatSopimukset ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>

      <div ng-show="naytaVanhatSopimukset">
        <sopimusten-listaus
          otsikko="toimikunta.voimassa ? '[[i18n.jarjestamissopimus.aiemmat-jarjestamissopimukset]]' : '[[i18n.jarjestamissopimus.jarjestamissopimukset]]'"
          sopimukset="entisetSopimukset"
          nayta-tutkinnot="true"
          piilota-koulutustoimijat="piilotaKoulutustoimijat">
        </sopimusten-listaus>

        <div>
          <a id="aiemmat-sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?toimikunta={{toimikunta.tkunta}}&voimassa=false" target="_blank">[[lataa-toimikunnan-aiemmat-sopimukset]]</a>
        </div>
      </div>
    </div>
  </div>
</div>
[[/i18n.toimikunta]]
[[/i18n.yleiset]]
