{{=[[ ]]=}}
[[#i18n.tutkinnot]]
<h1>[[tutkintohaku]]</h1>

<form>
  <fieldset class="search-field">
    <label>[[tutkinnon-nimi]]</label>
    <input type="text" ng-model="tutkintoHakuehto.nimi" class="search-with-autocomplete">
  </fieldset>
  <fieldset class="search-field">
    <label>[[osaamisala]]</label>
    <input type="text" ng-model="tutkintoHakuehto.osaamisala" class="search-with-autocomplete">
  </fieldset>
  <fieldset class="search-field">
    <label>[[opintoala]]</label>
	<select id="opintoala" class="no-print" ng-model="tutkintoHakuehto.opintoala">
      <option value=""></option>
      <optgroup ng-repeat="koulutusala in koulutusalat" label="{{koulutusala.koulutusala_tkkoodi}}. {{koulutusala | lokalisoi:koulutusala:'koulutusala_nimi'}}">
        <option ng-repeat="opintoala in koulutusala.opintoalat | orderBy:opintoalaOrder" value="{{opintoala.opintoala_tkkoodi}}">{{opintoala.nimi | lokalisoi:opintoala:'opintoala_nimi'}}</option>
      </optgroup>
    </select>
  </fieldset>
  <fieldset class="search-field">
    <label>[[tutkintotaso]]</label>
	<enum-valikko id="tutkintotaso" nimi="tutkintotaso" arvo="tutkintoHakuehto.tutkintotaso"></enum-valikko>
  </fieldset>
  <fieldset class="search-field">
    <h3>[[voimassaolo]]</h3>
    <input id="voimassaolo_voimassaolevat" type="radio" ng-model="tutkintoHakuehto.voimassaolo" value="voimassaolevat">
    <label class="input" for="voimassaolo_voimassaolevat">[[voimassaolevat]]</label><br/>
    <input id="voimassaolo_kaikki" type="radio" ng-model="tutkintoHakuehto.voimassaolo" value="kaikki">
    <label class="input" for="voimassaolo_kaikki">[[kaikki]]</label>
  </fieldset>
</form>
<div class="search-results" lataus-indikaattori metodi-idt="['tutkintolistaus']" viesti="[[tutkintoja-ladataan]]" virheviesti="[[tutkintojen-lataus-epaonnistui]]" yrita-uudelleen="haeTutkinnot()">
  <hakutulokset tuloksia-sivulla="10" otsikot="['[[tutkintotunnus]]', '[[peruste]]', '[[nimi]]', '[[opintoala]]', '[[osaamisalat]]']" hakutulokset="tutkinnot">
    <div class="table-cell">{{hakutulos.tutkintotunnus}}</div>
    <div class="table-cell">{{hakutulos.peruste}}</div>
    <div class="table-cell"><a href="#/tutkinto/{{hakutulos.tutkintotunnus}}" class="e2e-hakutulos-nimi">{{hakutulos.nimi | lokalisoi:hakutulos:'nimi'}}</a></div>
    <div class="table-cell">{{hakutulos.opintoala_nimi | lokalisoi:hakutulos:'opintoala_nimi'}}</div>
    <div class="table-cell"><ul class="osaamisalat"><li ng-repeat="osaamisala in hakutulos.osaamisala">{{osaamisala.nimi | lokalisoi:osaamisala:'nimi'}}</li></ul></div>
  </hakutulokset>
  <div>
    <a ng-href="[[base-url]]/api/tutkinto/csv?nimi={{tutkintoHakuehto.nimi}}&voimassaolo={{tutkintoHakuehto.voimassaolo}}"
       id="tutkinnot-linkki" class="liite-linkki" target="_blank">[[lataa-tutkinnot]]</a>
  </div>
</div>

[[/i18n.tutkinnot]]
