{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.tutkinto]]
<h1>{{tutkinto.nimi |lokalisoi:tutkinto:'nimi'}} - {{tutkinto.tutkintotunnus}}</h1>

<section class="info-section">
  <fieldset>
    <label>[[tutkintokoodi]]</label>
    <p>{{tutkinto.tutkintotunnus}}</p>
  </fieldset>
    <fieldset>
    <label>[[tutkinnonperusteiden-diaarinumero]]</label>
    <p>{{tutkinto.peruste}}</p>
  </fieldset>
  <fieldset>
    <label>[[koulutusala]]</label>
    <p class="e2e-tutkinto-opintoala-koulutusala-selite">{{tutkinto.opintoala.koulutusala.selite | lokalisoi:tutkinto.opintoala.koulutusala:'selite'}}</p>
  </fieldset>
  <fieldset>
    <label>[[opintoala]]</label>
    <p class="e2e-tutkinto-opintoala-selite">{{tutkinto.opintoala.selite | lokalisoi:tutkinto.opintoala:'selite'}}</p>
  </fieldset>
  <fieldset>
    <label>[[tutkintotaso]]</label>
    <p><enum-arvo nimi="tutkintotaso" arvo="tutkinto.tutkintotaso"></enum-arvo></p>
  </fieldset>
  <fieldset ng-show="tutkinto.siirtymaaika_paattyy">
    <label>[[siirtymaaika-paattyy]]</label>
    <p>{{tutkinto.siirtymaaika_paattyy}}</p>
  </fieldset>
  <fieldset class="tutkintotyyppi">
    <label>[[tyyppi]]</label>
    <p class="e2e-tutkinto-tyyppi_selite">{{tutkinto.tyyppi_selite | lokalisoi:tutkinto:'tyyppi_selite'}}</p>
  </fieldset>

  <br/>
  <fieldset class="toimikunta-lista">
    <label>[[toimikunta]]</label>
    <div ng-repeat="toimikunta in toimikunnat.nykyiset">
      <a ng-href="#/toimikunta/{{toimikunta.diaarinumero}}/tiedot" class="e2e-toimikunta-nimi">{{toimikunta.nimi | nimivuosi:toimikunta:'nimi':'toimikausi_alku'}}</a>
    </div>
  </fieldset>
</section>

<sopimusten-listaus class="nykyiset-sopimukset"
                    otsikko="'[[i18n.jarjestamissopimus.jarjestamissopimukset]]'"
                    sopimukset="sopimukset.nykyiset"
                    nayta-peruste-sarake="true">
</sopimusten-listaus>
<div>
  <a id="sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?tutkinto={{tutkinto.tutkintotunnus}}" target="_blank">[[lataa-tutkinnon-sopimukset]]</a>
</div>

<div class="vanhat-sopimukset">
  <p><a class="ajax-link show-more" href="" ng-show="sopimukset.vanhat.length > 0" ng-click="naytaVanhatSopimukset = !naytaVanhatSopimukset">{{naytaVanhatSopimukset ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>

  <div ng-show="naytaVanhatSopimukset">
    <sopimusten-listaus
      otsikko="'[[i18n.jarjestamissopimus.aiemmat-jarjestamissopimukset]]'"
      sopimukset="sopimukset.vanhat"
      nayta-tutkinnot="false"
      piilota-koulutustoimijat="false">
    </sopimusten-listaus>
    <div>
      <a id="aiemmat-sopimukset-linkki" class="liite-linkki" ng-href="[[base-url]]/api/jarjestamissopimus/csv?tutkinto={{tutkinto.tutkintotunnus}}&voimassa=false" target="_blank">[[lataa-tutkinnon-aiemmat-sopimukset]]</a>
    </div>
  </div>
</div>

<h2>[[vanhat-toimikunnat]]</h2>
<table>
  <thead>
  <tr>
    <th>[[toimikunnan-nimi]]</th>
    <th>[[toimikunnan-toimikausi]]</th>
  </tr>
  </thead>
  <tr ng-repeat="toimikunta in toimikunnat.vanhat">
    <td><a href="#/toimikunta/{{toimikunta.diaarinumero}}/tiedot" class="e2e-toimikunta-nimi-vanha">{{toimikunta.nimi | nimivuosi:toimikunta:'nimi':'toimikausi_alku'}}</a></td>
    <td>{{toimikunta.alkupvm | date:'dd.MM.yyyy'}} – {{toimikunta.loppupvm | date:'dd.MM.yyyy'}}</td>
  </tr>
</table>
[[/i18n.tutkinto]]
[[/i18n.yleiset]]
