{{=[[ ]]=}}
[[#i18n.yleiset]]
<div>
  <p><a class="ajax-link show-more" href="" ng-show="sopimukset.length > 0" ng-click="toggleNaytaVanhat()">{{naytaVanhatSopimukset ? '[[piilota-aiemmat]]' : '[[nayta-aiemmat]]'}}</a></p>

  <div ng-show="naytaVanhatSopimukset">
    <sopimusten-listaus
      otsikko="otsikko"
      sopimukset="sopimukset"
      nayta-tutkinnot="naytaTutkinnot"
      piilota-koulutustoimijat="piilotaKoulutustoimijat">
    </sopimusten-listaus>
  </div>
</div>
[[/i18n.yleiset]]
