*{{toimikunta.nimi_fi}}*
*{{toimikunta.nimi_sv}}*


	Opetushallitus on päättänyt ammatillisesta aikuiskoulutuksesta annetun lain (631/1998) 7 §:n ja ammatillisesta aikuiskoulutuksesta annetun asetuksen (812/1998) 2 §:n nojalla asettaa tutkintotoimikunnan seuraavasti:

*Toimiala*{{#toimikunta.toimiala}}	{{.}}
{{/toimikunta.toimiala}}

	Tutkintotoimikunnan toimialan piiriin kuuluvat lisäksi mahdolliset toimialassa mainittuja tutkintoja ja tutkinnon osaamisaloja vastaavat tai lähinnä vastaavat tutkinnot ja tutkintojen osaamisalat, jotka eivät ole voimassa olevalla opetus- ja kulttuuriministeriön asetuksella säädetyssä tutkintorakenteessa, mutta joita voidaan säädetyn tai määrätyn siirtymäajan puitteissa vielä suorittaa.

*Toimialue*	Valtakunnallinen

*Kieli*	{{toimikunta.kieli}}

*Toimikausi*	{{toimikunta.alkupvm}} - {{toimikunta.loppupvm}}

*Toimikunnan numero*	{{toimikunta.tilikoodi}}

*Kokoonpano*	Henkilöt tutkintotoimikunnan kokoonpanoon on nimetty Tiedoksi-luettelossa mainituilta yhteisöiltä saatujen esitysten pohjalta.

	*Jäsenet*

{{#toimikunta.jasen}}	_{{edustus}}_

{{#jasen}}
	*{{nimi}}*

{{/jasen}}
{{/toimikunta.jasen}}

	{{paatosteksti}}




{{#hyvaksyja.asema}}

	{{.}}{{/hyvaksyja.asema}}	{{hyvaksyja.nimi}}


{{#esittelija.asema}}

	{{.}}{{/esittelija.asema}}	{{esittelija.nimi}}




JAKELU{{#jakelu}}	{{.}}
{{/jakelu}}

TIEDOKSI{{#tiedoksi}}	{{.}}
{{/tiedoksi}}
