*{{toimikunta.nimi_fi}}*
*{{toimikunta.nimi_sv}}*


	Opetushallitus on päättänyt ammatillisesta aikuiskoulutuksesta annetun lain (631/1998) 7 §:n ja ammatillisesta aikuiskoulutuksesta annetun asetuksen (812/1998) 2 §:n nojalla asettaa tutkintotoimikunnan seuraavasti:

*Toimiala*{{#toimikunta.toimiala}}	{{nimi_fi}}
{{/toimikunta.toimiala}}

*Toimialue*	Valtakunnallinen

*Kieli*	{{toimikunta.kieli}}

*Toimikausi*	{{toimikunta.alkupvm}} - {{toimikunta.loppupvm}}

*Toimikunnan numero*	{{toimikunta.tilikoodi}}

*Kokoonpano*

*Jäsenet*{{#toimikunta.jasen}}	*{{edustus}}*

{{#jasen}}
	*{{nimi}}*
	{{jarjesto}}

{{/jasen}}
{{/toimikunta.jasen}}

	Tutkintotoimikunnan järjestäytymiskokouksen kokoonkutsujana toimii {{kokoonkutsuja}}. Toimikunta valitsee keskuudestaan puheenjohtajan, varapuheenjohtajan ja sihteerin. Toimikunta voi myös tehdä Opetushallitukselle esityksen ulkopuolisen sihteerin nimittämiseksi. Valinnat tulee viipymättä toimittaa tiedoksi Opetushallitukselle (sähköpostiosoite: tutkintotoimikunnat@oph.fi).




{{#esittelija.asema}}
	{{.}}{{/esittelija.asema}}	{{esittelija.nimi}}


{{#hyvaksyja.asema}}
	{{.}}{{/hyvaksyja.asema}}	{{hyvaksyja.nimi}}



JAKELU{{#jakelu}}	{{.}}
{{/jakelu}}

TIEDOKSI{{#tiedoksi}}	{{.}}
{{/tiedoksi}}
