*{{toimikunta.nimi_sv}}*
*{{toimikunta.nimi_fi}}*


	Utbildningsstyrelsen har med stöd av 7 § i lagen (631/1998) och 2 § i förordningen (812/1998) om yrkesinriktad vuxenutbildning beslutat att tillsätta en examenskommission enligt följande:

*Bransch*{{#toimikunta.toimiala}}	{{.}}
{{/toimikunta.toimiala}}

	Till examenskommissionens verksamhetsområde hör dessutom eventuellt, övriga examina och kompetensområden för examen som motsvarar eller närmast motsvarar de examina och kompetensområden för examen som är nämnda i verksamhetsområdet. Dessa examina och kompetensområden finns inte i den i kraft varande förordningen om examensstrukturen, utgiven av undervisnings. och kulturministeriet, men de kan avläggas inom ramen för en reglerad eller bestämd övergångsperiod.

*Verksamhetsområde*	Riksomfattande

*Språk*	{{toimikunta.kieli}}

*Mandatperiod*	{{toimikunta.alkupvm}} - {{toimikunta.loppupvm}}

*Kommissionens nummer*	{{toimikunta.tilikoodi}}

*Sammansättning*	Personerna i examenskommissionerna är utnämnda enligt förslagen man fått av de organisationer som finns uppräknade i listan För kännedom.

	*Medlemmar*{{#toimikunta.jasen}}	_{{edustus}}_

{{#jasen}}
	*{{nimi}}*

{{/jasen}}
{{/toimikunta.jasen}}

	{{paatosteksti}}




{{#hyvaksyja.asema}}

	{{.}}{{/hyvaksyja.asema}}	{{hyvaksyja.nimi}}


{{#esittelija.asema}}

	{{.}}{{/esittelija.asema}}	{{esittelija.nimi}}




SÄNDLISTA{{#jakelu}}	{{.}}
{{/jakelu}}

FÖR KÄNNEDOM{{#tiedoksi}}	{{.}}
{{/tiedoksi}}
