*{{toimikunta.nimi_sv}}*
*{{toimikunta.nimi_fi}}*


	Opetushallitus on päättänyt ammatillisesta aikuiskoulutuksesta annetun lain (631/1998) 7 §:n ja ammatillisesta aikuiskoulutuksesta annetun asetuksen (812/1998) 2 §:n nojalla asettaa tutkintotoimikunnan seuraavasti:

*Toimiala (sv)*{{#toimikunta.toimiala}}	{{.}}
{{/toimikunta.toimiala}}

*Toimialue (sv)*	Valtakunnallinen (sv)

*Kieli (sv)*	{{toimikunta.kieli}}

*Toimikausi (sv)*	{{toimikunta.alkupvm}} - {{toimikunta.loppupvm}}

*Toimikunnan numero (sv)*	{{toimikunta.tilikoodi}}

*Kokoonpano (sv)*

*Jäsenet (sv)*{{#toimikunta.jasen}}	_{{edustus}}_

{{#jasen}}
	*{{nimi}}*
	{{jarjesto}}

{{/jasen}}
{{/toimikunta.jasen}}

	{{paatosteksti}}




{{#hyvaksyja.asema}}

	{{.}}{{/hyvaksyja.asema}}	{{hyvaksyja.nimi}}


{{#esittelija.asema}}

	{{.}}{{/esittelija.asema}}	{{esittelija.nimi}}




JAKELU (sv){{#jakelu}}	{{.}}
{{/jakelu}}

TIEDOKSI (sv){{#tiedoksi}}	{{.}}
{{/tiedoksi}}
