*Opetushallitus*
Hakaniemenranta 6, PL 380, 00531 Helsinki, puhelin 029 533 1000, faksi 029 533 1035, etunimi.sukunimi@oph.fi, www.oph.fi
*Utbildningsstyrelsen*
Hagnäskajen 6, PB 380, 00531 Helsingfors, telefon 029 533 1000, fax 029 533 1035, fornamn.efternamn@oph.fi, www.oph.fi
