				Tietolähde Näyttötutkintojen suoritusrekisteri
				{{raportti_luotu}}

{{#toimikunnat}}
*{{tutkintotoimikunta_nimi_fi}}*
{{#koulutustoimijat}}

*{{koulutustoimija_nimi_fi}}*

{{#suorittajat}}
*{{suorittaja_sukunimi}} {{suorittaja_etunimi}} {{suorittaja_syntymapvm}}*
Suoritetut tutkinnon osat		Arvosana/Arvioijat		

{{#tutkinnot}}
{{tutkintotunnus}} {{tutkinto_nimi_fi}}
Tutkinnon peruste {{tutkinto_peruste}}

{{#tutkinnonosat}}
{{tutkinnonosa_nimi_fi}}
		{{arvosana}}			{{kokotutkinto}}
		{{tunnustaminen}}			{{todistus}}
				
{{#arvioijat}}		{{arvioija_sukunimi}} {{arvioija_etunimi}}, {{arvioija_rooli}}
{{/arvioijat}}

{{/tutkinnonosat}}
{{/tutkinnot}}

{{/suorittajat}}
{{/koulutustoimijat}}

*Yhteensä*
	Suoritetut koko tutkinnot		{{suoritetut_kokotutkinnot}}
	Suoritetut tutkinnon osat		{{suoritetut_osat}}, näistä	todistuksen haluaa {{haluaa_todistuksen}}
				ei todistusta {{ei_halua_todistusta}}
				tunnustettuja {{tunnustetut_osat}}

{{/toimikunnat}}
