{{raportti_luotu}}

{{#toimikunnat}}
*{{tutkintotoimikunta_nimi_fi}}*
{{#koulutustoimijat}}

*{{koulutustoimija_nimi_fi}}*
{{#tutkinnot}}

*{{tutkintotunnus}} {{tutkinto_nimi_fi}}*
*Tutkinnon peruste {{tutkinto_peruste}}*

Suoritetut tutkinnon osat
{{#suorittajat}}
{{suorittaja_sukunimi}} {{suorittaja_etunimi}} {{suorittaja_syntymapvm}}

Tutkinnonosa			arvosana		Koko tutkinto?
{{#tutkinnonosat}}
*{{tutkinnonosa_nimi_fi}}*			{{arvosana}}		{{kokotutkinto}}
	
{{#arvioijat}}			{{arvioija_sukunimi}} {{arvioija_etunimi}}, {{arvioija_rooli}}
{{/arvioijat}}
{{/tutkinnonosat}}
{{/suorittajat}}

*Yhteensä*
	Suoritetut koko tutkinnot		{{suoritetut_kokotutkinnot}}
	Suoritetut tutkinnon osat		{{suoritetut_osat}}, näistä	todistuksen haluaa {{haluaa_todistuksen}}
				ei todistusta {{ei_halua_todistusta}}
{{/tutkinnot}}
{{/koulutustoimijat}}
{{/toimikunnat}}
