$baseline: 24px;
$marginL: $baseline;
$marginM: $baseline/2;
$marginS: $baseline/4;


html {
    background:#fff;
    -webkit-font-smoothing: antialiased;
    /* Inflate text size on mobiles by full increments only */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.app-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}