button {
  background: lighten($grey-text, 40%);
  color: black;
  border-radius: 0;
  height: $baseline*1.5;
  box-shadow: none;
}

.primary {
  background: $primary-action;
  color: $primary-action-text;
  text-transform: uppercase;
}