table {
  border: 1px solid rgba(0,0,0,0.1);
  min-width: 30%;
  
  thead {
    tr {
      background: lighten($bright-blue, 20%);
      
      th {
        padding: $marginS $marginM;
        border-right: 1px dotted rgba(0,0,0,0.05);
        font-weight: bold;
      }
    }
  }
 tbody {
  
    tr {
      background: lighten($bright-blue, 30%);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      &:nth-child(odd) {
        background: lighten($bright-blue, 40%);
      }
      th {
        padding: $marginS $marginM;
        font-weight: lighter;
      }
    }
  }
}
