$font-body: 'Calibri', sans-serif;
$font-heading: 'Calibri', sans-serif;
$font-size-body: 15px;
@mixin engraved{ text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);}

body {
  font-family: $font-body;
  font-size: $font-size-body;
  line-height: $baseline;
  margin-bottom: $baseline;
  color: $grey-text;
}

p {
  color: #616161;
  margin-bottom: $baseline * 0.5;
  line-height: $baseline;
}

h1 {
  font-family: $font-heading;
  font-weight: normal;
  font-size: $baseline;
  line-height: $baseline *2;
  margin-bottom: $marginS;
  text-transform:uppercase;
  color: $grey-text;

}

h2 {
  font-family: $font-heading;
  margin-bottom: $marginS;
}

h3 {
  font-family: $font-heading;
  font-weight: lighter;
  margin-bottom: $marginS;
}
i {
  margin-bottom: $marginM;
}
