/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.project
.classpath
.settings
/bin
.DS_Store
/resources/public/ttk-cljs.js
/resources/public/test/e2e-cljs.js
/resources/build-id.txt
ttk.properties
resources/private/.sass-cache
