.file-upload { height: 65px; position: relative;
  button.loading {
    &:after {content : url('../select2/select2-spinner.gif'); position: absolute; left: 27%; top: 4px;}
  }
  button.add-file {position: absolute;}
  button.cancel-upload {position: relative; top: -48px; left: 110px; z-index: 2;}
  input[type=file] {width: 70px; height: 25px; cursor: pointer; margin: 13px 0; padding: 0; opacity: 0; position: absolute;}
  input[type=text] {color: $gray-color; width: 100%; display: block;}
  form {position: relative; z-index: 1; margin: 0; padding: 0;}
}

ul.file-list {list-style: none; padding: 0; margin: 0;
  li {
    a {display: inline-block; vertical-align: top; margin-right: 10px;}
  }
}


