<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    function redirect()
    {
      window.location.href="{{service-url}}";
    }
  </script>
</head>
<body onload="redirect()">
  <p>Istuntosi on vanhentunut</p>
  <a href="{{service-url}}">Etusivulle</a>
</body>
</html>
