{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-app="ttk">
<head>
  <script>var ttkBaseUrl = "[[base-url]]";</script>
  <script>var aituI18n = [[& i18n-json]];</script>
  <script>var aituLogoutUrl = '[[logout-url]]';</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>[[i18n.tutkintotoimikuntarekisteri]]</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="[[base-url]]/css/normalize.css">
  <link rel="stylesheet" href="[[base-url]]/css/main.css">
  <link rel="stylesheet" href="[[base-url]]/vendor/select2.css">
  <script src="[[base-url]]/vendor/modernizr.js"></script>
</head>
<body ng-controller="AituController">
<div>
  [[#i18n.impersonointi]]
  <nav class="main-nav">
    <div class="app-wrapper ">
      <div id="logout" ng-click="varmistaLogout()"></div>
      <kielen-vaihto></kielen-vaihto>
      <ul id="current-user" ng-class="{impersonoitu : [[impersonoitu]]}">
        <li>
          <a href="">[[current-user]]</a>
          <ul ng-if="[[yllapitaja]]">
            <li ng-if="![[impersonoitu]]"><a href="" ng-click="valitse()">[[vaihda-avustettavaksi-kayttajaksi]]</a></li>
            <li ng-if="[[impersonoitu]]"><a href="" ng-click="lopetaImpersonointi()">[[lopeta-avustus]]</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        [[#i18n.navigaatio]]
        <li><a href="#/">[[etusivu]]</a></li>
        <li><a href="#/search-tutkinto">[[tutkinnot]]</a></li>
        <li><a href="#/search-toimikunta">[[toimikunnat]]</a></li>
        <li><a href="#/henkilot">[[henkilot]]</a></li>
        <li><a href="#/search-jarjestaja">[[tutkinnon-jarjestajat]]</a></li>
        [[#ominaisuus.proto]]
        <li><a href="#/search">[[raportit]]</a></li>
        [[/ominaisuus.proto]]
        [[/i18n.navigaatio]]
      </ul>
    </div>
  </nav>
  <div class="impersonointi-haku ng-hide" ng-show="valitseHenkilo">
    <button class="icon delete-icon sulje" ng-click="piilota()"></button>
    <form name="impersonoiForm">
      <haku-valitsin
        otsikko="[[valitse-avustettava-kayttaja]]"
        url="[[base-url]]/api/kayttaja/impersonoitava"
        model="impersonoitava"
        model-id-property="oid"
        model-text-property="nimi"
        pakollinen="true">
      </haku-valitsin>
      <tallenna formi-validi="impersonoiForm.$valid" ng-click="impersonoi()" teksti="'[[valitse-kayttaja]]'"></tallenna>
    </form>
  </div>
  [[/i18n.impersonointi]]
  <div id="content" class="app-wrapper">
    <api-metodi-palaute></api-metodi-palaute>
    <div ng-view></div>
  </div>
</div>
<footer class="copyright-footer">
  <div class="app-wrapper"><span copyright></span></div>
</footer>
<footer class="dev-footer">
  <div class="app-wrapper"><span class="build-id">Build: [[build-id]]</span> <span class="separator">|</span> <a href="[[base-url]]/status" ng-if="[[yllapitaja]]">Status</a></div>
</footer>
<!-- scripts -->
<script src="[[base-url]]/vendor/bower-components.js"></script>

<script src="[[base-url]]/js/ttk.js"></script>
<script src="[[base-url]]/js/aitulocale.js"></script>
<script src="[[base-url]]/js/kayttooikeudet.js"></script>
<script src="[[base-url]]/js/etusivu.js"></script>
<script src="[[base-url]]/js/henkilot.js"></script>
<script src="[[base-url]]/js/toimikunnat.js"></script>
<script src="[[base-url]]/js/tutkinnot.js"></script>
<script src="[[base-url]]/js/jarjestajat.js"></script>
<script src="[[base-url]]/js/sopimukset.js"></script>
<script src="[[base-url]]/js/directives.js"></script>
<script src="[[base-url]]/js/filters.js"></script>
<script src="[[base-url]]/js/services.js"></script>
<script src="[[base-url]]/js/crud.js"></script>
<script src="[[base-url]]/js/resources.js"></script>
<script src="[[base-url]]/js/ui-komponentit.js"></script>
<script src="[[base-url]]/js/apimetodi-palaute.js"></script>
<script src="[[base-url]]/js/ohjeet.js"></script>
<script src="[[base-url]]/js/ng-upload.js"></script>

</body>
</html>
