{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-app="ttk">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>[[i18n.tutkintotoimikuntarekisteri]]</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="[[base-url]]/css/normalize.css">
  <link rel="stylesheet" href="[[base-url]]/css/main.css">
  <link rel="stylesheet" href="[[base-url]]/vendor/select2.css">
  <link rel="stylesheet" href="[[base-url]]/vendor/loading-bar.css">
  <script src="[[base-url]]/vendor/modernizr.js"></script>
  <script>var ophBaseUrl = "[[base-url]]";</script>
  <script>var aituI18n = [[& i18n-json]];</script>
  <script>var aituLogoutUrl = '[[logout-url]]';</script>
</head>
<body ng-controller="AituController">
<div>
  [[#i18n.impersonointi]]
  <nav class="main-nav">
    <div class="app-wrapper ">
      <kielen-vaihto></kielen-vaihto>
      [[#i18n.navigaatio]]
      <div id="logout" ng-click="varmistaLogout()" title="[[kirjaudu-ulos]]"></div>
      <ul id="current-user" ng-class="{impersonoitu : [[impersonoitu]]}">
        <li>
          <a href="">[[current-user]]</a>
          <ul ng-if="[[yllapitaja]] || [[impersonoitu]]">
            <li ng-if="![[impersonoitu]]"><a href="" ng-click="valitse()">[[vaihda-avustettavaksi-kayttajaksi]]</a></li>
            <li ng-if="[[impersonoitu]]"><a href="" ng-click="lopetaImpersonointi()">[[lopeta-avustus]]</a></li>
          </ul>
        </li>
      </ul>
      <ul>

        <li><a href="#/">[[etusivu]]</a></li>
        <auth-toiminto auth-blokki sallitut-roolit="['KAYTTAJA', 'OPH-KATSELIJA', 'PAIVITTAJA']">
        <li><a href="#/search-tutkinto">[[tutkinnot]]</a></li>
        <li><a href="#/search-toimikunta">[[toimikunnat]]</a></li>
        <li><a href="#/henkilot">[[henkilot]]</a></li>
        <li><a href="#/search-koulutustoimija">[[koulutustoimijat]]</a></li>
        <li><a href="#/search-oppilaitos">[[oppilaitokset]]</a></li>
        </auth-toiminto>
        <li ng-if="[[yllapitaja]]"><a href="#/raportit">[[raportit]]</a></li>
        <auth-toiminto auth-blokki sallitut-roolit="['PAIVITTAJA']">        
          <li><a href="#/arviointipaatokset">[[arviointipaatokset]]</a></li>
        </auth-toiminto>
        <auth-toiminto auth-blokki sallitut-roolit="['JARJESTO']">
        <li><a href="#/jasenesitykset">[[jasenesitykset]]</a></li>
        </auth-toiminto>
      </ul>
      [[/i18n.navigaatio]]
    </div>
  </nav>

  <div class="modal-window impersonointi-haku ng-hide" ng-show="valitseHenkilo">
    <button class="icon delete-icon sulje" ng-click="piilota()"></button>
    <form name="impersonoiForm">
      <haku-valitsin
        otsikko="[[valitse-avustettava-kayttaja]]"
        url="[[base-url]]/api/kayttaja/impersonoitava"
        model="impersonoitava"
        model-id-property="oid"
        model-text-property="nimi"
        pakollinen="true">
      </haku-valitsin>
      <tallenna formi-validi="impersonoiForm.$valid" ng-click="impersonoi()" teksti="'[[valitse-kayttaja]]'"></tallenna>
    </form>
  </div>
  <div class="modal-backdrop" ng-show="valitseHenkilo"></div>

  [[/i18n.impersonointi]]
  <div id="content" class="app-wrapper">
    <api-metodi-palaute></api-metodi-palaute>
    <div ng-view></div>
  </div>
</div>
[[#i18n.footer]]
<footer>
  <section class="info">
    <div class="app-wrapper">
      <h3>[[otsikko]]</h3>
      <p><a href="../img/[[rekisteriseloste_tiedosto]]">[[rekisteriseloste]]</a></p>
      <p>[[ota-yhteytta]]: <a href="mailto:aitu-tuki@oph.fi">aitu-tuki@oph.fi</a>.</p>
    </div>
  </section>
  <section class="copyright">
    <div class="app-wrapper"><span copyright></span></div>
  </section>
</footer>
[[/i18n.footer]]
<footer class="dev-footer">
  <div class="app-wrapper"><span class="build-id">Build: [[build-id]]</span> <span class="separator">|</span> <a href="[[base-url]]/status" ng-if="[[yllapitaja]]">Status</a></div>
</footer>
<!-- scripts -->
<script src="[[base-url]]/vendor/bower-components.js"></script>

<script src="[[base-url]]/js/ttk.js"></script>
<script src="[[base-url]]/js/aitulocale.js"></script>
<script src="[[base-url]]/js/apimetodi-palaute.js"></script>
<script src="[[base-url]]/js/arviointipaatokset.js"></script>
<script src="[[base-url]]/js/crud.js"></script>
<script src="[[base-url]]/js/directives.js"></script>
<script src="[[base-url]]/js/etusivu.js"></script>
<script src="[[base-url]]/js/filters.js"></script>
<script src="[[base-url]]/js/henkilot.js"></script>
<script src="[[base-url]]/js/jasenesitykset.js"></script>
<script src="[[base-url]]/js/kayttooikeudet.js"></script>
<script src="[[base-url]]/js/koulutustoimijat.js"></script>
<script src="[[base-url]]/js/ohjeet.js"></script>
<script src="[[base-url]]/js/oppilaitokset.js"></script>
<script src="[[base-url]]/js/organisaatiomuutokset.js"></script>
<script src="[[base-url]]/js/raportit.js"></script>
<script src="[[base-url]]/js/resources.js"></script>
<script src="[[base-url]]/js/services.js"></script>
<script src="[[base-url]]/js/sopimukset.js"></script>
<script src="[[base-url]]/js/suoritus.js"></script>
<script src="[[base-url]]/js/suorittajatiedot.js"></script>
<script src="[[base-url]]/js/toimikunnat.js"></script>
<script src="[[base-url]]/js/tutkinnot.js"></script>
<script src="[[base-url]]/js/ui-komponentit.js"></script>
<script src="[[base-url]]/js/direktiivit/dialogi.js"></script>
<script src="[[base-url]]/js/direktiivit/hetu.js"></script>
<script src="[[base-url]]/js/direktiivit/kokemusvuodet.js"></script>
<script src="[[base-url]]/js/direktiivit/suorittajat.js"></script>
<script src="[[base-url]]/js/direktiivit/suoritukset.js"></script>
<script src="[[base-url]]/js/direktiivit/tiedote.js"></script>
<script src="[[base-url]]/js/palvelut/varmistus.js"></script>
<script src="[[base-url]]/js/palvelut/viestidialogi.js"></script>
<script src="[[base-url]]/js/rest/jasenesitykset.js"></script>
<script src="[[base-url]]/js/rest/kayttaja.js"></script>
<script src="[[base-url]]/js/rest/koulutustoimija.js"></script>
<script src="[[base-url]]/js/rest/toimikunta.js"></script>
<script src="[[base-url]]/js/rest/rahoitusmuoto.js"></script>
<script src="[[base-url]]/js/rest/suorittaja.js"></script>
<script src="[[base-url]]/js/rest/suoritus.js"></script>
<script src="[[base-url]]/js/rest/tutkinnonosa.js"></script>
<script src="[[base-url]]/js/rest/osaamisala.js"></script>
<script src="[[base-url]]/js/rest/arvioija.js"></script>

</body>
</html>
