
<h1 ng-hide="editMode">{{henkilo.nimi}}</h1>
<input type="text" ng-hide="!editMode" ng-model="henkilo.nimi"></input>
  <fieldset>
    <label>NMT</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.nmt"></input>
    <p ng-hide="editMode">{{henkilo.nmt}}</p>
  </fieldset>
  <fieldset>
    <label>Sähköposti</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.sahkoposti"></input>
    <p ng-hide="editMode">{{henkilo.sahkoposti}}</p>
  </fieldset>
 <fieldset>
    <label>Puhelinnumero</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.puhelin"></input>
    <p ng-hide="editMode">{{henkilo.puhelin}}</p>
  </fieldset>

<fieldset>
    <label>Sukupuoli</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.sukupuoli"></input>
    <p ng-hide="editMode">{{henkilo.sukupuoli}}</p>
  </fieldset>

<fieldset>
    <label>Äidinkieli</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.kieli"></input>
    <p ng-hide="editMode">{{henkilo.kieli}}</p>
  </fieldset>

<fieldset>
    <label>Näyttömestarin tutkinto</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.nayttomestarintutkinto"></input>
    <p ng-hide="editMode">{{henkilo.nayttomestarintutkinto}}</p>
  </fieldset>

<fieldset>
    <label>Edustettava taho</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.edustettavaTaho"></input>
    <p ng-hide="editMode">{{henkilo.edustettavaTaho}}</p>
  </fieldset>

<fieldset>
    <label>Keskusjäjestö</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.keskusjarjesto"></input>
    <p ng-hide="editMode">{{henkilo.keskusjarjesto}}</p>
  </fieldset>

<fieldset>
    <label>Järjestö</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.jarjesto"></input>
    <p ng-hide="editMode">{{henkilo.jarjesto}}</p>
  </fieldset>

<fieldset>
    <label>Organisaatiot</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.organisaatio"></input>
    <p ng-hide="editMode">{{henkilo.organisaatio}}</p>
  </fieldset>

<fieldset>
    <label>Lisätiedot</label>
    <input type="text" ng-hide="!editMode" ng-model="henkilo.lisatiedot"></input>
    <p ng-hide="editMode">{{henkilo.lisatiedot}}</p>
  </fieldset>



