

<h1>Tervetuloa tutkintotoimikuntarekisteriin!</h1>
<div class="message-container content-box">
  <h2>Uudet tapahtumat</h2>
  <a class="message" href="#/sopimus/0">
    <h3>Uusi järjestämissopimushakemus toimikuntaan se ja se</h3>
    <p>Mikko Manninen on jättänyt uuden hakemuksen. Klikkaa nähdäksesi hakemus</p>
  </a>
  <a class="message" href="#/sopimus/0">
    <h3>Uusi järjestämissopimushakemus toimikuntaan se ja se</h3>
    <p>Mikko Manninen on jättänyt uuden hakemuksen. Klikkaa nähdäksesi hakemus</p>
  </a>
</div>
<div class="personal-container content-box">
    <h2>Toimikuntasi</h2>
    <p>Järjestämissopimukset</p>
    <i>Personoidaan käyttäjän mukaan. Voi sisältää toimikunnan tietoja, järjestämissopimuksia tms</i>
</div>

<div class="actions-container">
  <button>Luo uusi toimikunta</button>
</div>