<h3>Toimikuntahaku</h3>

<form>
 
  <fieldset>
    <label>Toimikunnan nimi</label>
    <input type="text" ng-model="search.nimi" class="search-with-autocomplete"></input>
    <div class="autocomplete" ng-hide="!search.nimi">
        <span class="ac-item"ng-repeat="toimikunta in toimikunnat | filter:search.nimi">{{toimikunta.nimi}}</span>
    </div>
  </fieldset>
  <fieldset>
    <label>Jäsenen nimi</label>
    <input type="text" ng-model="search.puheenjohtaja" ></input>
    <div class="autocomplete" ng-hide="!search.puheenjohtaja">
        <span class="ac-item"ng-repeat="toimikunta in toimikunnat | filter:search.puheenjohtaja">{{toimikunta.puheenjohtaja}}</span>
    </div>
  </fieldset>
  <fieldset>
    <label>Näytä vanhat toimikunnat</label>
    <input type="checkbox" ng-model="search.old" ></input>
  </fieldset>
  <button class="primary">Hae</button>
</form>


<table>
  <thead>
    <tr>
        <th>Nimi</th>
        <th>Toimikausi</th>
        <th>Puheenjohtaja</th>
        <th>Muutos pvm</th>
        <th>Tekijä</th>
      </tr>  
  </thead>
  <tbody>
    <tr ng-repeat="toimikunta in toimikunnat | filter:search ">
      <th>{{toimikunta.nimi}}</th>
      <th>{{toimikunta.toimikausi}}</th>
      <th><a href="#/henkilo/{{toimikunta.henkilonumero}}">{{toimikunta.puheenjohtaja}}</a></th>
      <th>{{toimikunta.viimeisinMuutospaiva}}</th>
      <th>{{toimikunta.viimeisinMuuttaja}}</th>
    </tr>
  </tbody>
</table>