$baseline: 24px;
$marginL: $baseline;
$marginM: $baseline/2;
$marginS: $baseline/4;

$application-max-width: 1200px;

$column: 10%;

html {
    background:#fff;
    -webkit-font-smoothing: antialiased;
    /* Inflate text size on mobiles by full increments only */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.app-wrapper {
  max-width: $application-max-width;
  margin: 0 auto;
}