header {
  background: white;
  color: black;
  padding: $marginM;
  background:  url('/img/opetushallitus.gif') no-repeat left bottom content-box; 
  border-bottom: 1px solid $lightest-gray;
  height: 70px;

  h1 {
    display: inline-block;
    font-size: 2.86em;
    font-weight: 100;
    font-family: $font-heading-light;
    margin-left: 290px;
    margin-top: 12px;

    }
}

.main-nav {
  background-color: $lighter-primary;
  height: 38px;
  div {
    position: relative;
      ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: $lighter-primary;
        font-size: 0.75em;
        padding: 0;
        li {
          border-right: 1px solid $primary-color;
          padding: $marginS $marginM;
          display: inline-block;
          max-width: 20%;

          &:first-child {
            border-left: 1px solid $primary-color;
            margin-left: 0;
          }

          a {
            text-decoration: none;
            color: black;
            font-size: 1.5em;
            text-transform:uppercase;
          }
        }
      }
    }
}
