table {
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  
  &.full-width{
    width: 100%;
  }
  thead {
    tr {
      background: $lighter-gray;
      
      th {
        padding: $marginS $marginM;
        border-right: 1px dotted rgba(0,0,0,0.05);
        font-weight: bold;
        max-width: 20%;

        &:last-child {
          max-width: 80%;
        }
      }
    }
  }
 tbody {
  
    tr {
      background: $lightest-gray;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      &:nth-child(odd) {
        background: lighten($lightest-gray, 10%);
      }
      th {
        padding: $marginS $marginM;
        font-weight: lighter;
        max-width: 20% !important;
        a {
          color: $lighter-primary;
          text-decoration: none;
        }
      }
    }
  }
}

table.few-columns {
  th {
    width: 22%;
    &:last-child {
      width: 80%;
    }
  }
}

.table-add {
  margin-top: $marginM;
}