<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>logs/aitu.log</File>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{ISO8601} %-5p %c: %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/aitu.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>


  <appender name="AUDITLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>logs/aitu-audit.log</File>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{ISO8601} %-5p %c: %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/aitu-audit.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>


  <logger name="aitu.infra.print-wrapper" level="INFO"/>
  <logger name="com.mchange.v2" level="WARN"/>

  <logger name="aitu.auditlog" level="INFO" additivity="false">
    <appender-ref ref="AUDITLOGFILE"></appender-ref>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOGFILE"/>
  </root>
</configuration>
