$application-max-width: 1200px;

html {
  background:#fff;
  height: 100%;
}

body { display:table; width: 100%; height: 100%;
  > div { display: table-row;}
  footer {display: table-row; height: 100%;}
}

#content {
  padding: 0 $marginS $baseline $marginS;
  min-height: 400px;
}

.app-wrapper {
  max-width: $application-max-width;
  margin: 0 auto;
  padding: 0 $marginS;
}
