footer {
  a { color: $lighter-primary; }
  color: #ffffff;

  .info {
    background-color: $darker-gray;
    padding: 0.5em 0;
  }

  .separator { margin: 0 10px; }
}

.copyright, footer.dev-footer {
  @include border-box;
  .app-wrapper {
    @include border-box;
  }
}

.copyright {
  $footer-height: 120px;
  height: $footer-height; background-color: $darkest-gray;
  .app-wrapper {
    padding-top: 50px;
    height: $footer-height;
    background: url("../img/oph_logo_footer.svg") right 10px center no-repeat;
    .no-svg & {background-image: url("../img/oph_logo_footer.png")}
  }
}

footer.dev-footer { background-color: $darker-primary;
  > div {min-height: 80px;}
  .app-wrapper {
    padding-top: 28px;
    color: $primary-action-text;
  }
}
