header {
  $header-height: 160px;

  & + section {margin-top: $header-height;}

  color: black;
  background-color: #e1e1e1;
  height: $header-height;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -10px;

  .app-wrapper {
    height: $header-height;
    background: #e1e1e1 url('../img/AITU-background.png') no-repeat left top;
    height: 100%;
    position: relative;
  }

  .vertical-center {
    height: $header-height;
    display: table-cell;
    vertical-align: middle;
  }

  .header-content {
    margin-left: $marginS;
    h1, .separator, h2 {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .separator {
    font-size: 4.2em;
    font-weight: 100;
    position: relative;
    top: -5px;
  }

  .oph-logo {
    width: 271px;
    height: 70px;
    position: absolute;
    right: $marginS;
    top: 45px;
    background: transparent url('../img/opetushallitus.svg') 0 center no-repeat;
    .no-svg & {background-image: url('../img/opetushallitus.gif')}
  }

  h1 {
    font-size: 4.2em;
  }

  h2 {
    width: 500px;
    font-size: 1.7em;
    font-weight: 300;
  }

  form {
    display: block;
    color: $darker-gray;
    margin: $marginL 0 0 0;
    padding: 0;

    input {
      @include border-box;
      width: 30%;
      height: $baseline + 4;
      border: 1px solid  $primary-color;
    }
    button {
      height: $baseline + 4;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      margin: 0;
      padding-left:10px;
    }
  }
}

.main-nav {
  $nav-height: 40px;
  $separator-color: #009dcd;
  $font-color: $primary-action-text;
  background-color: $primary-color;
  min-height: $nav-height;
  font-size: 1em;
  a {
    display: inline-block;
    padding-top: 8px;
    text-decoration: none;
    color: $font-color!important;
    text-transform:uppercase;
  }
  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      border-right: 1px solid $separator-color;
      padding: 0 $marginM;
      float: left;
      height: $nav-height;
      &:hover {background-color: $darker-primary;}
      &:first-child {border-left: 1px solid $separator-color;}
      a {
        text-transform:uppercase;
      }
      span {
        padding-top: 8px;
        display: inline-block;
      }

    }
  }
  #current-user {float: right; padding-right: 40px; color: $font-color; @include icon-after(11px, 11px){@include user-icon;}; height: $nav-height;}
  #logout {
    border-right: 1px solid $separator-color;
    padding: 0 15px;
    float: right;
    height: $nav-height;
    @include icon-after(-5px, 11px){@include logout-icon;};
    &:hover {background-color: $darker-primary;}
  }
  .change-lang {
    float: right;
  }
  .change-lang-active {
    display: inline-block;
  }
  .change-lang-inactive {
    display: inline-block;
  }
  .change-lang-active:hover {
    background-color: $darker-primary;
  }
  .change-lang-inactive:hover {
    background-color: $primary-color;
  }
}
