.modal-window {
  z-index: 100;
  @include box-shadow;
  position: absolute;
  border: 2px solid $darker-gray;
  background-color: white;
  padding: 15px;
  padding-right: 25px;
  left: 50%;
  top: 100px;

  button.sulje {
    position: absolute;
    right: 4px;
    top: 0px;
  }

  fieldset {
    width: 100%;
  }
}

.impersonointi-haku{
  $width: 500px;
  $height: 160px;
  min-height: $height;
  margin-left: -$width / 2;
  width: $width;
}

.tulosta-paatos{
  $width: 80%;
  $height: 70%;
  min-height: $height;
  margin-left: -$width / 2;
  width: $width;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .6;
  content: "";
  z-index: 99;
}