.ohje {
  $ohje-button-size : 22px;
  $ohje-popup-width: 400px;
  $ohje-popup-muokkaus-width : 500px;

  position: relative;
  display: inline-block;
  font-family: $font-body;
  font-size: $font-size-body;
  line-height: $baseline;
  text-transform: none;
  font-weight: normal;

  .avaa {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: $primary-color;
    width: $ohje-button-size;
    height: $ohje-button-size;
    margin: 0;
    @include icon-after(5px, 4px){@include help-icon;};
  }

  button.sulje {
    position: absolute;
    right: 4px;
    top: 4px;
  }

  .ohje-popup {
    @include box-shadow;
    z-index: 9999;
    position: absolute;
    border: 1px solid $lighter-gray;
    background-color: white;
    min-height: 100px;
    padding: 22px 10px 20px 10px;
    right: 37px;
    top: 10px;
    width: $ohje-popup-width;
    &.muokkaus {
      width: $ohje-popup-muokkaus-width;
      padding-bottom: 5px;
    }
    p {}
    a {
      position: absolute;
      right: 3px;
      bottom: 0;
    }
    fieldset {
      display: block;
      width: auto;
      margin: 0;
    }
    textarea {
      height: 150px;
      margin-bottom: 10px;
    }

    button {
      margin: 0;
    }
  }

  &.right .ohje-popup {
    left: 37px;
    top: 6px;
  }

  /* Ohjeen positiointi eri paikoissa */
  h1 & {
    float: right;
    position: relative;
    top: 13px;
  }

  fieldset & {
    vertical-align: middle;
    margin-bottom: 6px;
  }
}