{{=[[ ]]=}}
[[#i18n.yleiset]]
[[#i18n.arviointipaatokset]]
<form name="osaForm">
<div class="modal-header">
  <span ng-hide="!editointitila">  
  <h1 class="modal-title">[[lisaa_tutkinnon_osa]]</h1>
  </span>
</div>

<div class="modal-body">
  <div>
    <fieldset>
      <label>[[tutkinto]]</label>      
      <select ng-options="tutkinto.tutkintoversio_id as tutkinto.tutkintotunnus + ' ' + (tutkinto | lokalisoiKentta:'nimi') for tutkinto in tutkinnot" ng-model="tutkintoversio_id" ng-disabled="true" required></select>
     </fieldset>
    <fieldset>
      <label>[[muodostaa_kokotutkinto]]</label>
      <p ng-hide="editointitila">{{form.kokotutkinto|muotoileBoolean}}</p>
      <input type="checkbox" ng-hide="!editointitila" ng-model="form.kokotutkinto" ng-disabled="form.osaamisen_tunnustaminen">
    </fieldset>
   </div>

  <div>
    <fieldset>
      <label>[[tutkinnon_osa]]</label>
      <p ng-hide="editointitila">{{form.tutkinnonosa | lokalisoiKentta:'nimi'}}</p>
      <select ng-hide="!editointitila" ng-options="tutkinnonosa.osatunnus + ' ' + (tutkinnonosa | lokalisoiKentta:'nimi') for tutkinnonosa in tutkinnonosat" ng-model="form.tutkinnonosa" required></select>
    </fieldset>
    <fieldset>
     <label>[[osaamisala]]</label>
     <p ng-hide="editointitila">{{form.osaamisala}}</p>     
     <select ng-hide="!editointitila" ng-options="osaamisala.osaamisala_id as osaamisala.osaamisalatunnus + ' ' + (osaamisala | lokalisoiKentta:'nimi') for osaamisala in osaamisalat track by osaamisala.osaamisala_id" ng-model="form.osaamisala"></select>
   </fieldset>
    
  </div>
  <div>
    <fieldset>
      <label>[[arvosana]]</label>
     <p ng-hide="editointitila">{{form.arvosana}}</p>
     <select ng-hide="!editointitila" ng-model="form.arvosana" ng-disabled="form.tunnustaminen">
        <option value="hyvaksytty">[[hyvaksytty]]</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </fieldset>

    <fieldset>
      <label>[[arvosanan_korotus]]</label>
      <p ng-hide="editointitila">{{form.arvosanan_korotus | muotoileBoolean}}</p>
      <input type="checkbox" ng-hide="!editointitila" ng-model="form.arvosanan_korotus" ng-disabled="form.osaamisen_tunnustaminen">
    </fieldset>
  </div>
  <div>
    <fieldset>
      <p ng-hide="editointitila">[[osaamisen_tunnustaminen]]: {{form.osaamisen_tunnustaminen | date:'dd.MM.yyyy'}}</p>    
      <span ng-hide="!editointitila"> <pvm-valitsin pakollinen="false" valittu-pvm="form.osaamisen_tunnustaminen" otsikko="[[osaamisen_tunnustaminen]]"></pvm-valitsin></span>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <label>[[suorituskieli]]</label>
      <p ng-hide="editointitila">{{form.kieli}}</p>      
      [[#i18n.enum.kieli-arvo]]
      <select ng-hide="!editointitila" ng-model="form.kieli">
        <option value="fi">[[fi]]</option>
        <option value="sv">[[sv]]</option>
      </select>
      [[/i18n.enum.kieli-arvo]]
    </fieldset>

    <fieldset>
      <label>[[tutkinnon_osan_todistus]]</label>
      <p ng-hide="editointitila">{{form.todistus | muotoileBoolean}}</p>
      <input type="checkbox" ng-hide="!editointitila" ng-model="form.todistus">
    </fieldset>
  </div>

<div class="modal-footer">
  <button class="button-with-icon add-icon-white" ng-hide="!editointitila" ng-click="ok()" ng-disabled="osaForm.$invalid">[[lisaa_tutkinnon_osa]]</button>
  <button ng-click="sulje()">[[peruuta]]</button>
</div>
</form>
[[/i18n.arviointipaatokset]]
[[/i18n.yleiset]]