{{=[[ ]]=}}
[[#i18n.arviointipaatokset]]
[[#i18n.yleiset]]

<form name="form">
<div class="modal-header">
  <h1 class="modal-title">[[lisaa_suorittaja]]</h1>
</div>

<div class="modal-body">
  <div>
    <fieldset>
      <label for="etunimiInput">[[etunimi]]</label>
      <input id="etunimiInput" type="text" ng-model="suorittajaForm.etunimi" ng-required="true" autofocus>
    </fieldset>
    <fieldset>
      <label for="sukunimiInput">[[sukunimi]]</label>
      <input id="sukunimiInput" type="text" ng-model="suorittajaForm.sukunimi" ng-required="true">
    </fieldset>
    <fieldset>
      <label for="hetuInput">[[hetu]]</label>
      <input id="hetuInput" type="text" ng-model="suorittajaForm.hetu" ng-required="!suorittajaForm.oid">
    </fieldset>
    <fieldset>
      <label for="oidInput">OID</label>
      <input id="oidInput" type="text" ng-model="suorittajaForm.oid" ng-required="!suorittajaForm.hetu">
    </fieldset>
      <fieldset>
        <label>[[rahoitusmuoto]]</label>
        <select ng-required="true" ng-model="suorittajaForm.rahoitusmuoto_id" ng-options="rahoitusmuoto.rahoitusmuoto_id as rahoitusmuoto.rahoitusmuoto for rahoitusmuoto in rahoitusmuodot">
          <option value=""></option>
        </select>
      </fieldset>

  </div>
  <div ng-if="suorittajaForm.suorittaja_id">
    <div>[[muokattu_viimeksi]] {{ suorittajaForm.muutettuaika | date:'dd.MM.yyyy HH:mm' }}</div>
    <div>[[muokkaaja]] {{ suorittajaForm.muutettu_nimi }}</div>
  </div>
</div>

<span>
  <div class="modal-footer">
    <button class="button-with-icon add-icon-white" ng-click="tallennaSuorittaja()" ng-disabled="form.$error.required">[[tallenna_suorittaja]]</button>
    <button ng-click="peruuta()" class="oikealle">[[peruuta]]</button>
  </div>
</span>

</form>
[[/i18n.yleiset]]
[[/i18n.arviointipaatokset]]
